// Modal Center

section.uk-section.uk-padding-remove-vertical.modall-center

    a(href="#modal-center" class="uk-button uk-button-default" uk-toggle) Video Full

    div(id="modal-center" class="uk-flex-top uk-text-center uk-border-rounded modal-center" uk-modal)
        div(class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical uk-width-medium")
            button(class="uk-modal-close-default" type="button" uk-close)
            img(src="https://dummyimage.com/140x140/ff0000/fcfcfc.jpg&text=Demo+Image" alt="")
            h4 Title
            p Explanation