// Off-canvas Overlay

.uk-offcanvas-content

    button.uk-button.uk-button-default(type="button" uk-toggle="target: #offcanvas-overlay") Open

    #offcanvas-overlay(uk-offcanvas="overlay: true")
        .uk-offcanvas-bar

            button.uk-offcanvas-close(type="button" uk-close)


            h3 Title

            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.