// Section Item Image

section.uk-section.uk-padding-remove.section-item-image

    div(class="uk-grid-collapse uk-child-width-1-2@m uk-grid" uk-grid)

        div.uk-overflow-hidden

            img(src="/images/section/section.jpg" alt="")

        div.uk-overflow-hidden

            img(src="/images/section/section.jpg" alt="")