// Header Parent

header

    .uk-container 

        nav(class="uk-navbar-container uk-margin" uk-navbar) 

            .uk-navbar-left
                a(class="uk-navbar-item uk-logo" href="#") Logo

            ul.uk-navbar-nav
                li.uk-active
                    a(href="#") Item 1
                li
                    a(href="#") Parent
                    .uk-navbar-dropdown
                        ul.uk-nav.uk-navbar-dropdown-nav
                            li.uk-active
                                a(href="#") Active
                            li
                                a(href="#") Item 
                li
                    a(href="#") Item 3
                li
                    a(href="#") Item 4
                li
                    a(href="#") Item 5
                    
            .uk-navbar-item
                form(action="javascript:void(0)")
                    input(class="uk-input uk-form-width-small" type="text" placeholder="Input")