// Header Parent Full Top Bar

header.header-default.header-parent-full.uk-background-default

    .header-top-bar

        .uk-container

            .uk-flex.uk-flex-middle

                small.uk-margin-auto-right Tuna Ofis, şimdi Hollanda Rotterdam'da!

                nav

                    ul.uk-flex.uk-flex-middle.uk-margin-remove.uk-padding-remove.list-style-none

                        li: a(href="hakkimizda.html" class="uk-link-reset") Hakkımızda
                        li: a(href="haberler.html" class="uk-link-reset") Haberler
                        li: a(href="dokumanlar.html" class="uk-link-reset") Dokümanlar
                        li: a(href="Bize Ulaşın" class="uk-link-reset") Bize Ulaşın

                a(href="#" class="uk-link-reset") TR

    div(uk-sticky cls-active="uk-navbar-sticky" sel-target=".uk-navbar-container" class="uk-background-default")

        .uk-container

            nav(class="uk-navbar-container uk-navbar-transparent uk-navbar" uk-navbar="dropbar: true") 

                .uk-navbar-left
                    a(class="uk-navbar-item uk-logo uk-padding-remove-left" href="/")
                        img(src="https://dummyimage.com/200x80/ff0000/fcfcfc.jpg&text=Demo+Image" alt="tuna ofis")

                ul(class="uk-navbar-nav nav-overlay uk-margin-auto uk-visible@m")
                    li.uk-parent
                        a(href="urunler.html") ÜRÜNLER
                        .uk-navbar-dropdown.uk-margin-remove-top.uk-padding-remove-right.uk-padding-remove-left(uk-drop="boundary: !nav; boundary-align: true; pos: bottom-justify; delay-hide: 200; offset: 1")
                            div(class="uk-child-width-1-2 uk-grid" uk-grid)
                                div
                                    span ÜRÜN GRUPLARI
                                    ul.uk-nav.uk-navbar-dropdown-nav.uk-column-1-2
                                        li: a(href="#" class="background-line-hover") Oturma Sistemleri
                                        li: a(href="#" class="background-line-hover") Masa Sistemleri
                                        li: a(href="#" class="background-line-hover") Depolama Sistemleri
                                        li: a(href="#" class="background-line-hover") Tamamlayıcı Ürünler
                                        li: a(href="#" class="background-line-hover") Panel Sistemleri
                                div
                                    div(class="uk-grid uk-grid-medium uk-child-width-1-2" uk-grid)
                                        div
                                            a(href="#" class="uk-flex uk-position-relative")
                                                img(src="https://dummyimage.com/400x250/ff0000/fcfcfc.jpg&text=Demo+Image" alt="")
                                                span.uk-position-bottom-center.uk-light YÖNETİCİ KOLTUKLARI
                                        div
                                            a(href="#" class="uk-flex uk-position-relative")
                                                img(src="https://dummyimage.com/400x250/ff0000/fcfcfc.jpg&text=Demo+Image" alt="")
                                                span.uk-position-bottom-center.uk-light KANEPELER
                    li
                        a(href="bugunun-ofisleri.html") BUGÜNÜN OFİSLERİ
                    li
                        a(href="tasarim.html") TASARIM

                div(class="uk-navbar-item uk-padding-remove-right nav-overlay uk-visible@m")
                    a(href="t-magazin.html" class="uk-link-reset uk-margin-small-right background-strip") T Magazin

                div(class="uk-navbar-item uk-padding-remove-right nav-overlay uk-visible@m")
                    a(href="#" class="uk-navbar-toggle uk-padding-remove" uk-toggle="target: .nav-overlay; animation: uk-animation-fade")
                        img(src="https://dummyimage.com/20x20/ff0000/fcfcfc.jpg&text=Demo+Image" alt="")

                div(class="nav-overlay uk-navbar-right uk-width-3-4" hidden)
                    div(class="uk-navbar-item uk-width-expand")
                        form(class="uk-search uk-search-navbar uk-width-1-1")
                            input(class="uk-search-input" type="search" placeholder="Arama Yap…" autofocus)

                    a(class="uk-navbar-toggle uk-link-reset uk-padding-remove" uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#")
                        span(uk-icon="icon: close; ratio: 1.2")

                div(class="uk-navbar-item uk-hidden@m uk-light uk-padding-remove")
                    a(href="#header-mobile-modal" class="uk-navbar-toggle uk-padding-remove" uk-toggle): img(src="/images/icons/menu.svg" alt="")           

    include header-mobile/header-mobile-modal 