// Header Parent

header.header-default.header-parent(uk-sticky media="768" show-on-up animation="uk-animation-slide-top" cls-active="uk-navbar-sticky" sel-target=".uk-navbar-container")

    .uk-container 

        nav(class="uk-navbar-container uk-navbar-transparent uk-navbar" uk-navbar) 

            .uk-navbar-left.uk-margin-auto-right
                a(class="uk-navbar-item uk-logo uk-padding-remove-left" href="/")
                    img(src="https://dummyimage.com/200x80/ff0000/fcfcfc.jpg&text=Demo+Image" alt="")

            ul(class="uk-navbar-nav uk-visible@m")
                li.uk-active
                    a(href="#") Nav 1
                li
                    a(href="#") Nav 2 
                        span(uk-icon="baris")
                    .uk-navbar-dropdown
                        ul.uk-nav.uk-navbar-dropdown-nav
                            li.uk-active
                                a(href="#") Active
                            li
                                a(href="#") Item 
                li
                    a(href="#") Nav 3
                li
                    a(href="#") Nav 4
                li
                    a(href="#") Nav 5
                    
            div(class="uk-navbar-item uk-padding-remove-right uk-visible@m")
                a(href="#" class="uk-button uk-button-default uk-button-small")
                    img(src="https://dummyimage.com/20x20/ff0000/fcfcfc.jpg&text=Demo+Image" alt="")
                    | Item 1
					
			div(class="uk-navbar-item uk-hidden@m uk-light uk-padding-remove")
                    a(href="#header-mobile-modal" class="uk-navbar-toggle uk-padding-remove" uk-toggle): img(src="/images/icons/menu.svg" alt="")

	include header-mobile/header-mobile-modal.pug
	