// header

header(class="uk-visible@m main-header" uk-header)

    div(uk-sticky media="768" sel-target=".uk-navbar-container")

        .uk-navbar-container.uk-navbar-transparent

            .uk-container

                nav(uk-navbar)

                    .uk-flex.uk-flex-between.uk-flex-wrap.uk-width-1-1

                        a(class="uk-navbar-item uk-logo uk-padding-remove" href="/")
                        
                            img(src="/images/icons/landini-logo.svg" alt="")

                        .uk-flex

                            ul.uk-navbar-nav

                                li: a(href="#") TRAKTÖRLER
                                li: a(href="#") BAYİLER VE SERVİSLER
                                li: a(href="#") HABERLER
                                li: a(href="#") KURUMSAL 
                                li: a(href="#") İLETİŞİM

                            .uk-flex.uk-flex-middle.header-phone

                                .uk-navbar-item

                                    a(class="uk-link-reset" href="tel:+908502226867") 

                                        span.uk-flex ÇAĞRI MERKEZİ

                                        | 0850 222 6867