// Header Logo Center

header.header-default.header-logo-center(uk-sticky media="768" show-on-up animation="uk-animation-slide-top" cls-active="uk-navbar-sticky" sel-target=".uk-navbar-container")

    .uk-container 

        nav(class="uk-navbar-container uk-navbar-transparent" uk-navbar) 

            .uk-navbar-center 

                .uk-navbar-center-left
                    div
                        ul.uk-navbar-nav
                            li.uk-acive
                                a(href="#") Nav 1
                            li
                                a(href="#") Nav 2
                            li
                                a(href="#") Nav 3 

                a(class="uk-navbar-item uk-logo uk-padding-remove-left" href="/")
                    img(src="https://dummyimage.com/200x80/ff0000/fcfcfc.jpg&text=Demo+Image" alt="")

                .uk-navbar-center-right
                    div
                        ul.uk-navbar-nav
                            li
                                a(href="#") Nav 1
                            li
                                a(href="#") Nav 2
                            li
                                a(href="#") Nav 3