//
// Component: Grid Masonry
//
// ========================================================================


// Variables
// ========================================================================

@grid-column-xsmall: 100px;
@grid-column-small: 200px;
@grid-column-medium: 300px;
@grid-column-large: 400px;
@grid-column-xlarge: 500px;
@grid-column-xxlarge: 600px;

@grid-gap-small: @global-small-gutter;
@grid-gap-medium: @global-gutter;
@grid-gap-large: @global-large-gutter;
