// Marker Default

section.uk-position-relative.uk-overflow-hidden.marker-default

    img(src="https://dummyimage.com/1920x600/ff0000/fcfcfc.jpg&text=Demo+Image" alt="")

    .uk-light
        a(class="uk-position-absolute uk-transform-center uk-position-z-index uk-border-circle" style="left: 13%; top: 40%" href="#" uk-marker)
        a(class="uk-position-absolute uk-transform-center uk-position-z-index uk-border-circle" style="left: 41%; top: 26%" href="#" uk-marker)
        a(class="uk-position-absolute uk-transform-center uk-position-z-index uk-border-circle" style="left: 73%; top: 55%" href="#" uk-marker)

    .uk-position-top-left.uk-width-1-1.uk-height-1-1

        .uk-flex.uk-flex-bottom.uk-height-1-1

            .uk-container.uk-flex-1.uk-margin-large-bottom

                .uk-width-xlarge.uk-light.cover-text

                    h4 SAHSTA
                    p Kuzey-batı Pasifiğin Amerikan Kızılderili mitolojilerinde Kaliforniya'daki Sahsta Dağı önemli bir yer tutar. Adını aldığı dağın güçlü çizgilerini taşıyan bu kanepede özellikle kumaş dikişinde farklı bir teknik yer almaktadır.
                    a(href="#" class="uk-link-text") incele
