// Newsletter Default

section.uk-section.uk-section-medium.newsletter-default.background-line-default

    .uk-container

        .uk-flex.uk-flex-column.uk-flex-center.uk-flex-middle.newsletter

            h4 Özel Listemize Katılın
            div(class="uk-position-relative")
                input(class="uk-input" placeholder="E-Posta Adresiniz")
                button(class="uk-button uk-button-secondary uk-position-bottom-right uk-background-default button-animation button-animation-dark") ÜYE OL