// Pagination

ul.uk-pagination(uk-margin)
    li
        a(href="#")
            span(uk-pagination-previous)
    li
        a(href="#") 1
    li.uk-disabled
        span ...
    li
        a(href="#") 4
    li
        a(href="#") 5
    li
        a(href="#") 6
    li.uk-active
        span 7
    li
        a(href="#") 8
    li
        a(href="#") 9
    li
        a(href="#") 10
    li.uk-disabled
        span ...
    li
        a(href="#") 20
    li
        a(href="#")
            span(uk-pagination-next)