// Section Content Contact Default

section.uk-section-small.section-content-contact-default

    .uk-container

        div(class="uk-child-width-1-2@m uk-grid" uk-grid)

            div

                //include ../form/form-default

            div

                .uk-flex.uk-flex-column.uk-flex-top.uk-margin-medium-bottom
                    span İletişim
                    a.uk-link-reset(href="mailto:clock@clockwork.com.tr") clock@clockwork.com.tr
                    a.uk-link-reset(href="tel:+902122751084") T 0212 275 10 84 - 85
                    a.uk-link-reset(href="tel:+902122754459") F 0212 275 44 59 
                .uk-flex.uk-flex-column.uk-margin-medium-bottom
                    span Adres 
                    address.uk-margin-remove 19 Mayıs Mahallesi 19 Mayıs Caddesi
                        br
                        | UBM Plaza No:37 K:4 34360 Fulya 
                        br
                        | Şişli / İSTANBUL
                .uk-flex.uk-flex-column
                    span Sosyal Medya
                    ul.uk-flex.uk-padding-remove.uk-margin-remove.list-style-none.social-list
                        li: a(href="https://www.facebook.com/clockworkagency" target="blank" class="uk-icon-button uk-margin-small-right" uk-icon="facebook")
                        li: a(href="https://twitter.com/clockworkagency" target="blank" class="uk-icon-button uk-margin-small-right" uk-icon="twitter")
                        li: a(href="https://vimeo.com/clockworkagency" target="blank" class="uk-icon-button uk-margin-small-right" uk-icon="vimeo")
                        li: a(href="https://www.linkedin.com/company/clockwork-agencys" target="blank" class="uk-icon-button uk-margin-small-right" uk-icon="linkedin")
                        li: a(href="https://www.instagram.com/clockworkagency/" target="blank" class="uk-icon-button uk-margin-small-right" uk-icon="instagram")