/* ========================================================================
   Component: Base
 ========================================================================== */

// List
// ========================================================================

.list-style-none {
    list-style: none; 
}

// Form
// ========================================================================

.resize-none {
    resize: none;
}
