/* ========================================================================
   Component: Accordion Default
 ========================================================================== */
// Variable
// ========================================================================
@import "variable";

.accordion-default {
  background-color: $accordion-background-color;
}

.uk-accordion {
  li {
    border-bottom: $accordion-item-border-width solid $accordion-item-border-color;
    &:first-child {
      border-top: $accordion-item-border-width solid $accordion-item-border-color;
    }
  }

}

// Title
// ========================================================================

// Content
// ========================================================================

// Responsive
// ========================================================================

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}