/* ========================================================================
   Component: Accordion Default
 ========================================================================== */

$accordion-background-color: #f9f9f9;
$accordion-item-border-width: 1px;
$accordion-item-border-color: #e3e9f0;