extends ../layouts/master

block content

    +parallax-medium(
        '@/images/parallax/aktiviteler.jpg',
        '@/images/parallax/aktiviteler-m.jpg',
        'AKTİVİTELER',
        'Masmavi gökyüzü altında animasyonlar, spor aktiviteleri, plaj partileri; yıldızlar çıktığında şovlar, açık hava sineması, Moon Arena’da yaz boyu ünlü sanatçıların konserleri, Fener Disco Bar’da sabahın ilk ışıklarına kadar eğlence tatilinizi dolu dolu geçirmeniz için özenle planlandı.'
    )

    +content-text-left('GÜNDÜZ AKTİVİTELERİ')
        p Noah's Ark Deluxe Hotel & Spa Eğlence ekibimizle sıkılmaya vakit bulamayacaksınız.Gün boyu devam edecek aktiviteler sizi hem formada tutucak hem de eğlencenin doruğuna ulaştıracak.

    +slideshow-pull('#', '#', 'AKTİVİTE ALANLARI', 'GECE AKTİVİTELERİ')(class="uk-padding-remove-top")
        li
            a.uk-position-cover(href="@/images/slideshow/slideshow-aktiviteler.jpg")
                img(data-src="@/images/slideshow/slideshow-aktiviteler.jpg" alt="" uk-cover uk-img)
                .uk-position-top-left.uk-position-medium.uk-light
                    h5.uk-margin-remove DELUXE SEA VIEW
        li
            a.uk-position-cover(href="@/images/slideshow/slideshow-aktiviteler.jpg")
                img(data-src="@/images/slideshow/slideshow-aktiviteler.jpg" alt="" uk-cover uk-img)
                .uk-position-top-left.uk-position-medium.uk-light
                    h5.uk-margin-remove DELUXE SEA VIEW

    +reservation(
        'GÜNÜN HER ANI DOPDOLU',
        'Nuh’un Gemisi’nde eğlencenin binbir rengi var.',
        'REZERVASYON'
    )

    +slider-content-transitions('uk-child-width-1-3@m')
        li
            a.uk-display-block.uk-inline-clip.uk-transition-toggle(href="#" tabindex="0")
                .uk-panel.uk-position-bottom-center.uk-position-z-index.uk-text-center.uk-padding-small
                    h5.uk-margin-remove GÜDÜZ AKTİVİTELERİ
                img.uk-transition-scale-up.uk-transition-opaque.uk-width-1-1(data-src="@/images/slider/slider-aktiviteler-1.jpg" alt="" uk-img)
        li
            a.uk-display-block.uk-inline-clip.uk-transition-toggle(href="#" tabindex="0")
                .uk-panel.uk-position-bottom-center.uk-position-z-index.uk-text-center.uk-padding-small
                    h5.uk-margin-remove GECE AKTİVİTELERİ
                img.uk-transition-scale-up.uk-transition-opaque.uk-width-1-1(data-src="@/images/slider/slider-aktiviteler-2.jpg" alt="" uk-img)
        li
            a.uk-display-block.uk-inline-clip.uk-transition-toggle(href="#" tabindex="0")
                .uk-panel.uk-position-bottom-center.uk-position-z-index.uk-text-center.uk-padding-small
                    h5.uk-margin-remove AKTİVİTE ALANLARI
                img.uk-transition-scale-up.uk-transition-opaque.uk-width-1-1(data-src="@/images/slider/slider-aktiviteler-3.jpg" alt="" uk-img)
        li
            a.uk-display-block.uk-inline-clip.uk-transition-toggle(href="#" tabindex="0")
                .uk-panel.uk-position-bottom-center.uk-position-z-index.uk-text-center.uk-padding-small
                    h5.uk-margin-remove GÜDÜZ AKTİVİTELERİ
                img.uk-transition-scale-up.uk-transition-opaque.uk-width-1-1(data-src="@/images/slider/slider-aktiviteler-1.jpg" alt="" uk-img)
