extends ../layouts/master

block content

    +parallax-large(
        '@/images/parallax/balayi.jpg',
        'BALAYI'
    )

    #parallax-scroll

    +content-text-bg(
        'Lorem ipsum dolor sit amet, consedipiscing elit et certamen dolor sit amet, consectetur adipiscing elit et certamen  ipsum dolor sitet, dipiscing elit et certamen lorem ipsum dolor sit amet, consectetu'
    )

    +slideshow-pull()(class="uk-background-none")
        li
            a.uk-position-cover(href="@/images/slideshow/slideshow-balayi.jpg")
                img(data-src="@/images/slideshow/slideshow-balayi.jpg" alt="" uk-cover uk-img)
                .uk-position-top-left.uk-position-medium.uk-light
                    h5.uk-margin-remove DELUXE SEA VIEW
        li
            a.uk-position-cover(href="@/images/slideshow/slideshow-balayi.jpg")
                img(data-src="@/images/slideshow/slideshow-balayi.jpg" alt="" uk-cover uk-img)
                .uk-position-top-left.uk-position-medium.uk-light
                    h5.uk-margin-remove DELUXE SEA VIEW

    +parallax-card(
        '@/images/parallax/balayi-card.jpg',
        'balayi',
        'BALAYI',
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit et certamen lorem ipsum dolor sit amet, consectetur ipsum dolor sit amet, consectetur adipiscing'
    )(class="uk-text-center uk-flex-center uk-flex-middle")
