extends ../layouts/master

block content

    +parallax-large(
        '@/images/parallax/casino.jpg',
        'CASINO'
    )

    #parallax-scroll

    +content-text-bg(
        "Noah's Ark Casino, poker, bingo, elektronik rulet ve multigame seçenekleri ile yüzlerce en yeni teknoloji slot makinesinin yanı sıra rulet ve kart oyunlarının en popüler olanlarını içeren canlı oyun masaları ile hizmetinizdedir."
    )

    +slideshow-pull()(class="uk-background-none")
        li
            a.uk-position-cover(href="@/images/slideshow/slideshow-casino.jpg")
                img(data-src="@/images/slideshow/slideshow-casino.jpg" alt="" uk-cover uk-img)
                .uk-position-top-left.uk-position-medium.uk-light
                    h5.uk-margin-remove DELUXE SEA VIEW

        li
            a.uk-position-cover(href="@/images/slideshow/slideshow-casino.jpg")
                img(data-src="@/images/slideshow/slideshow-casino.jpg" alt="" uk-cover uk-img)
                .uk-position-top-left.uk-position-medium.uk-light
                    h5.uk-margin-remove DELUXE SEA VIEW

    +parallax-card(
        '@/images/parallax/casino-card.jpg',
        'casino',
        'CASINO',
        "Özel VIP alanı, restoran, bar ve cafelerde tıpkı oyun hizmetlerinde olduğu gibi en yüksek kaliteyi amaçlayan Noah's Ark Casino KKTC, Avrupa ve Ortadoğu'nun en seçkin casinoları arasında yer almaktadır."
    )(class="uk-text-center uk-flex-center uk-flex-middle")
