extends ../layouts/master

block content

    +section-content-slider-left(
        '16.06.2018',
        'FUNDA ARAR',
        'Bayram keyfiniz Efsane olsun…'
    )

        block slider
            li
                a(href="https://dummyimage.com/520x600/9a6c3e/9a6c3e")
                    img(data-src="https://dummyimage.com/520x600/9a6c3e/9a6c3e" alt="" uk-img)
                    .uk-position-bottom-right.uk-position-small.zoom-button
                        span.uk-background-default.uk-border-circle.uk-flex.uk-flex-center.uk-flex-middle.uk-link-reset(uk-icon="icon: icn-zoom; ratio: 1.5")
            li
                a(href="https://dummyimage.com/520x600/f0c39a/f0c39a")
                    img(data-src="https://dummyimage.com/520x600/f0c39a/f0c39a" alt="" uk-img)
                    .uk-position-bottom-right.uk-position-small.zoom-button
                        span.uk-background-default.uk-border-circle.uk-flex.uk-flex-center.uk-flex-middle.uk-link-reset(uk-icon="icon: icn-zoom; ratio: 1.5")

        block text
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis Aristidem non mortuum diligit? Si verbum sequimur, primum longius verbum praepositum quam bonum. At multis se probavit.

            .uk-margin-medium
                span.uk-text-small.uk-text-secondary PAYLAŞ
                .uk-flex.uk-flex-middle.uk-margin-small
                    a.uk-margin-right.uk-link-reset(href="#" uk-icon="icon: icn-facebook")
                    a.uk-link-reset(href="#" uk-icon="icon: icn-twitter")

    +card-media-list(
            'Diğer Etkinlikler',
            'HEPSİNİ GÖR'
    )(class="list-button")
        div
            .uk-card.uk-card-default.uk-transition-toggle(tabindex="0" uk-scrollspy-class)
                a.uk-link-reset(href="etkinlik-detay.html")
                    .uk-card-media-top.uk-inline-clip
                        img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/card/etkinlik-1.jpg" uk-img alt="")
                    .uk-card-body.uk-text-secondary
                        time(date-time="16.08.2018") 16.08.2018
                        p.uk-text-medium.uk-text-bold.uk-margin-remove Lorem ipsum dolor sit amet
                        p.uk-margin-remove-top Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        span(uk-icon="icon: icn-arrow-right")
                            span Detay
        div
            .uk-card.uk-card-default.uk-transition-toggle(tabindex="0" uk-scrollspy-class)
                a.uk-link-reset(href="etkinlik-detay.html")
                    .uk-card-media-top.uk-inline-clip
                        img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/card/etkinlik-2.jpg" uk-img alt="")
                    .uk-card-body.uk-text-secondary
                        time(date-time="16.08.2018") 16.08.2018
                        p.uk-text-medium.uk-text-bold.uk-margin-remove Lorem ipsum dolor sit amet
                        p.uk-margin-remove-top Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        span(uk-icon="icon: icn-arrow-right")
                            span Detay
        div
            .uk-card.uk-card-default.uk-transition-toggle(tabindex="0" uk-scrollspy-class)
                a.uk-link-reset(href="etkinlik-detay.html")
                    .uk-card-media-top.uk-inline-clip
                        img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/card/etkinlik-3.jpg" uk-img alt="")
                    .uk-card-body.uk-text-secondary
                        time(date-time="16.08.2018") 16.08.2018
                        p.uk-text-medium.uk-text-bold.uk-margin-remove Lorem ipsum dolor sit amet
                        p.uk-margin-remove-top Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        span(uk-icon="icon: icn-arrow-right")
                            span Detay
