extends ../layouts/master

block content

    +parallax-large(
        '@/images/parallax/etkinlikler.jpg',
        'ETKİNLİKLER'
    )

    #parallax-scroll

    +card-media-list('Güncel Etkinlikler')(class="uk-visible@s")
        div
            .uk-card.uk-card-default.uk-transition-toggle(tabindex="0" uk-scrollspy-class)
                a.uk-link-reset(href="etkinlik-detay.html")
                    .uk-card-media-top.uk-inline-clip
                        img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/card/etkinlik-1.jpg" uk-img alt="")
                    .uk-card-body.uk-text-secondary
                        time(date-time="16.08.2018") 16.08.2018
                        p.uk-text-medium.uk-text-bold.uk-margin-remove Lorem ipsum dolor sit amet
                        p.uk-margin-remove-top Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        span(uk-icon="icon: icn-arrow-right")
                            span Detay
        div
            .uk-card.uk-card-default.uk-transition-toggle(tabindex="0" uk-scrollspy-class)
                a.uk-link-reset(href="etkinlik-detay.html")
                    .uk-card-media-top.uk-inline-clip
                        img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/card/etkinlik-2.jpg" uk-img alt="")
                    .uk-card-body.uk-text-secondary
                        time(date-time="16.08.2018") 16.08.2018
                        p.uk-text-medium.uk-text-bold.uk-margin-remove Lorem ipsum dolor sit amet
                        p.uk-margin-remove-top Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        span(uk-icon="icon: icn-arrow-right")
                            span Detay
        div
            .uk-card.uk-card-default.uk-transition-toggle(tabindex="0" uk-scrollspy-class)
                a.uk-link-reset(href="etkinlik-detay.html")
                    .uk-card-media-top.uk-inline-clip
                        img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/card/etkinlik-3.jpg" uk-img alt="")
                    .uk-card-body.uk-text-secondary
                        time(date-time="16.08.2018") 16.08.2018
                        p.uk-text-medium.uk-text-bold.uk-margin-remove Lorem ipsum dolor sit amet
                        p.uk-margin-remove-top Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        span(uk-icon="icon: icn-arrow-right")
                            span Detay
        div
            .uk-card.uk-card-default.uk-transition-toggle(tabindex="0" uk-scrollspy-class)
                a.uk-link-reset(href="etkinlik-detay.html")
                    .uk-card-media-top.uk-inline-clip
                        img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/card/etkinlik-1.jpg" uk-img alt="")
                    .uk-card-body.uk-text-secondary
                        time(date-time="16.08.2018") 16.08.2018
                        p.uk-text-medium.uk-text-bold.uk-margin-remove Lorem ipsum dolor sit amet
                        p.uk-margin-remove-top Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        span(uk-icon="icon: icn-arrow-right")
                            span Detay
        div
            .uk-card.uk-card-default.uk-transition-toggle(tabindex="0" uk-scrollspy-class)
                a.uk-link-reset(href="etkinlik-detay.html")
                    .uk-card-media-top.uk-inline-clip
                        img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/card/etkinlik-2.jpg" uk-img alt="")
                    .uk-card-body.uk-text-secondary
                        time(date-time="16.08.2018") 16.08.2018
                        p.uk-text-medium.uk-text-bold.uk-margin-remove Lorem ipsum dolor sit amet
                        p.uk-margin-remove-top Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        span(uk-icon="icon: icn-arrow-right")
                            span Detay
        div
            .uk-card.uk-card-default.uk-transition-toggle(tabindex="0" uk-scrollspy-class)
                a.uk-link-reset(href="etkinlik-detay.html")
                    .uk-card-media-top.uk-inline-clip
                        img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/card/etkinlik-3.jpg" uk-img alt="")
                    .uk-card-body.uk-text-secondary
                        time(date-time="16.08.2018") 16.08.2018
                        p.uk-text-medium.uk-text-bold.uk-margin-remove Lorem ipsum dolor sit amet
                        p.uk-margin-remove-top Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        span(uk-icon="icon: icn-arrow-right")
                            span Detay

    +card-media-list('Geçmiş Etkinlikler', 'HEPSİNİ GÖR')(class="uk-section-muted uk-visible@s list-button")
        div
            .uk-card.uk-card-default.uk-transition-toggle(tabindex="0" uk-scrollspy-class)
                a.uk-link-reset(href="etkinlik-detay.html")
                    .uk-card-media-top.uk-inline-clip
                        img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/card/etkinlik-4.jpg" uk-img alt="")
                    .uk-card-body.uk-text-secondary
                        time(date-time="16.08.2018") 16.08.2018
                        p.uk-text-medium.uk-text-bold.uk-margin-remove Lorem ipsum dolor sit amet
                        p.uk-margin-remove-top Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        span(uk-icon="icon: icn-arrow-right")
                            span Detay
        div
            .uk-card.uk-card-default.uk-transition-toggle(tabindex="0" uk-scrollspy-class)
                a.uk-link-reset(href="etkinlik-detay.html")
                    .uk-card-media-top.uk-inline-clip
                        img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/card/etkinlik-5.jpg" uk-img alt="")
                    .uk-card-body.uk-text-secondary
                        time(date-time="16.08.2018") 16.08.2018
                        p.uk-text-medium.uk-text-bold.uk-margin-remove Lorem ipsum dolor sit amet
                        p.uk-margin-remove-top Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        span(uk-icon="icon: icn-arrow-right")
                            span Detay
        div
            .uk-card.uk-card-default.uk-transition-toggle(tabindex="0" uk-scrollspy-class)
                a.uk-link-reset(href="etkinlik-detay.html")
                    .uk-card-media-top.uk-inline-clip
                        img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/card/etkinlik-6.jpg" uk-img alt="")
                    .uk-card-body.uk-text-secondary
                        time(date-time="16.08.2018") 16.08.2018
                        p.uk-text-medium.uk-text-bold.uk-margin-remove Lorem ipsum dolor sit amet
                        p.uk-margin-remove-top Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        span(uk-icon="icon: icn-arrow-right")
                            span Detay

    section.uk-section(class="uk-hidden@s")
        .uk-container
            .uk-section.uk-section-small.uk-text-center.uk-background-center-center.uk-background-contain.uk-background-norepeat(uk-scrollspy-class data-src="@/images/icons/logo-simple.svg" uk-img)
                h2.uk-h3.uk-margin-remove TÜM ETKİNLİKLER
                span.uk-text-primary(uk-icon="icon: icn-wave;")
                p.uk-margin-remove Nuh’un Gemisi’nde eğlencenin binbir rengi var.
            .uk-section.uk-section-small(uk-scrollspy-class)
                .uk-slider(uk-slider)
                    ul.uk-slider-items.uk-grid.uk-grid-medium
                        li(class="uk-width-5-6")
                            .uk-card.uk-card-default.uk-transition-toggle(tabindex="0")
                                a.uk-link-reset(href="etkinlik-detay.html")
                                    .uk-card-media-top.uk-inline-clip
                                        img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/card/etkinlik-1.jpg" uk-img alt="")
                                    .uk-card-body.uk-text-secondary
                                        time(date-time="16.08.2018") 16.08.2018
                                        p.uk-text-medium.uk-text-bold.uk-margin-remove Lorem ipsum dolor sit amet
                                        p.uk-margin-remove-top Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        span(uk-icon="icon: icn-arrow-right")
                                            span Detay
                        li(class="uk-width-5-6")
                            .uk-card.uk-card-default.uk-transition-toggle(tabindex="0")
                                a.uk-link-reset(href="etkinlik-detay.html")
                                    .uk-card-media-top.uk-inline-clip
                                        img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/card/etkinlik-1.jpg" uk-img alt="")
                                    .uk-card-body.uk-text-secondary
                                        time(date-time="16.08.2018") 16.08.2018
                                        p.uk-text-medium.uk-text-bold.uk-margin-remove Lorem ipsum dolor sit amet
                                        p.uk-margin-remove-top Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        span(uk-icon="icon: icn-arrow-right")
                                            span Detay

    section.uk-section(class="uk-hidden@s")
        .uk-container
            .uk-section.uk-section-small.uk-text-center.uk-background-center-center.uk-background-contain.uk-background-norepeat(uk-scrollspy-class data-src="@/images/icons/logo-simple.svg" uk-img)
                h2.uk-h3.uk-margin-remove GEÇMİŞ ETKİNLİKLERİMİZ
                span.uk-text-primary(uk-icon="icon: icn-wave;")
                p.uk-margin-remove Nuh’un Gemisi’nde eğlencenin binbir rengi var.
            .uk-section.uk-section-small(uk-scrollspy-class)
                .uk-slider(uk-slider)
                    ul.uk-slider-items.uk-grid.uk-grid-medium
                        li(class="uk-width-5-6")
                            .uk-card.uk-card-default.uk-transition-toggle(tabindex="0")
                                a.uk-link-reset(href="etkinlik-detay.html")
                                    .uk-card-media-top.uk-inline-clip
                                        img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/card/etkinlik-1.jpg" uk-img alt="")
                                    .uk-card-body.uk-text-secondary
                                        time(date-time="16.08.2018") 16.08.2018
                                        p.uk-text-medium.uk-text-bold.uk-margin-remove Lorem ipsum dolor sit amet
                                        p.uk-margin-remove-top Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        span(uk-icon="icon: icn-arrow-right")
                                            span Detay
                        li(class="uk-width-5-6")
                            .uk-card.uk-card-default.uk-transition-toggle(tabindex="0")
                                a.uk-link-reset(href="etkinlik-detay.html")
                                    .uk-card-media-top.uk-inline-clip
                                        img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/card/etkinlik-1.jpg" uk-img alt="")
                                    .uk-card-body.uk-text-secondary
                                        time(date-time="16.08.2018") 16.08.2018
                                        p.uk-text-medium.uk-text-bold.uk-margin-remove Lorem ipsum dolor sit amet
                                        p.uk-margin-remove-top Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                        span(uk-icon="icon: icn-arrow-right")
                                            span Detay
