extends ../layouts/master

block content

    +parallax-large(
        '@/images/parallax/iletisim.jpg',
        'İLETİŞİM'
    )

    #parallax-scroll

    section.uk-section.contact
        .uk-grid.uk-flex-middle(class="uk-child-width-1-2@m" uk-grid)
            div
                include ../components/map/templates/usage
            div
                .uk-grid.uk-grid-collapse.uk-flex-center(uk-grid)
                    div(class="uk-width-xlarge@m")
                        .uk-text-center.title(class="uk-text-left@m")
                            .uk-grid.uk-grid-collapse.uk-flex-between.uk-flex-bottom(class="uk-child-width-auto@m" uk-grid)
                                div
                                    h2 Noah’s Ark <br> Deluxe Hotel & Spa
                                    p.uk-margin-remove.uk-text-primary Bafra Turizm Bölgesi / KKTC
                                div
                                    //a.uk-button.uk-button-default(class="uk-visible@m" href="#") SİZİ ARAYALIM

                                    a.uk-button.uk-button-default(href="#modal-call" uk-toggle)
                                        span.uk-margin-small-right(uk-icon="icon: icn-phone")
                                        | SİZİ ARAYALIM
                        div.contact-list(class="uk-visible@m")
                            .uk-grid.uk-grid-small.uk-text-secondary(class="uk-child-width-auto@m" uk-grid)
                                div
                                    span.uk-display-block Telefon
                                    a.uk-button.uk-button-text(href="tel:+903926303000") +90 392 630 30 00
                                div
                                    span.uk-display-block Fax
                                    a.uk-button.uk-button-text(href="tel:+903926303000") +90 392 630 30 00
                                div
                                    span.uk-display-block Mail
                                    a.uk-button.uk-button-text(href="mailto:info@noahsark.com.tr") info@noahsark.com.tr
                        div.contact-list.uk-margin-auto(class="uk-hidden@m")
                            .uk-grid.uk-grid-collapse.uk-child-width-1-2(uk-grid)
                                div
                                    span.uk-display-block Telefon
                                div
                                    a.uk-button.uk-button-text(href="tel:+903926303000") +90 392 630 30 00
                                div
                                    span.uk-display-block İstanbul Ofis
                                div
                                    a.uk-button.uk-button-text(href="tel:+903926303000") +90 212 284 00 82
                                div
                                    span.uk-display-block Fax
                                div
                                    a.uk-button.uk-button-text(href="tel:+903926303000") +90 392 630 30 30
                            .uk-grid.uk-grid-small.uk-flex-center(uk-grid)
                                div
                                    a.uk-button.uk-button-primary.uk-active(href="tel:+903926303000") +90 392 630 30 00
                                div
                                    a.uk-button.uk-button-default(href="mailto:info@noahsark.com.tr") info@noahsark.com.tr

                        div(class="uk-visible@m")
                            img(data-src="@/images/section/kroki.jpg" uk-img alt="")
        .uk-grid.uk-flex-middle(class="uk-child-width-1-2@m" uk-grid)
            div(class="uk-flex-last@m")
                img(data-src="@/images/section/contact.jpg" uk-img="" alt="")
            div
                .uk-grid.uk-flex-center(uk-grid)
                    div(class="uk-width-xxlarge@m")
                        .uk-box-shadow-medium.form
                            form#contact-form
                                fieldset.uk-fieldset
                                    legend.uk-legend.uk-text-bold.uk-margin-small İletişim Formu
                                    .uk-margin-small
                                        input.uk-input(type="text" placeholder="AD SOYAD" name="name" validation="required")
                                    .uk-margin-small
                                        input.uk-input(type="text" placeholder="E-POSTA" name="email" validation="required|email")
                                    .uk-margin-small
                                        input.uk-input(type="text" placeholder="TELEFON" name="phone" validation="required" mask="tel")
                                    .uk-margin-small
                                        textarea.uk-textarea(rows="5" placeholder="MESAJ" name="message" validation="required")
                                    .uk-margin-small
                                        .g-recaptcha(data-sitekey="6LdBHW0UAAAAAB0o6ZLaeLOZW71wpMJM4q1Rfmad")
                                    .uk-margin(class="uk-text-right@m")
                                        button.uk-button.uk-button-secondary.uk-active(type="submit") GÖNDER
