extends ../layouts/master

block content

    +parallax-large(
        '@/images/parallax/kesfet.jpg',
        'KEŞFET'
    )

    #parallax-scroll

    +section-content-image-left(
        '@/images/section/kesfet.jpg',
        'Noah’s Ark Deluxe Hotel & Spa',
        'Factsheet',
        'PDF İNDİR'
    )
        .uk-background-center-center.uk-background-norepeat.uk-background-contain(data-src="@/images/icons/logo-simple.svg" uk-img)
            p Karpaz Yarımadası’nın eşsiz sahilinde 1300m’lik el değmemiş özel kumsala sahip olan Noah’s Ark Deluxe Hotel & Spa 160.000 m² üzerine kurulmuştur.
            p Noah’s Ark Deluxe Hotel & Spa, Gazi Mağusa şehir merkezine 42 km, Girne ve Ercan Havalimanı’na sadece 65 km. mesafededir.

    +grid-card(
        'KEŞFET',
        'Nuh’un Gemisi’nde eğlencenin binbir rengi var.'
    )
        div(class="uk-width-1-3@m")
            a.uk-light.uk-display-block(href="konaklama.html" class="uk-hidden@m" uk-scrollspy-class)
                img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/grid/konaklama-m.jpg" uk-img alt="")
                .uk-position-center
                    h3.uk-h5.uk-margin-remove KONAKLAMA
            .uk-inline-clip.uk-transition-toggle.uk-light(class="uk-visible@m" tabindex="0" uk-scrollspy-class)
                img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/grid/konaklama.jpg" uk-img alt="")
                .uk-position-bottom-center
                    h3.uk-h5 KONAKLAMA
                .uk-transition-fade.uk-position-cover.uk-overlay.background-secondary-gradient
                    h3.uk-h5 KONAKLAMA
                    ul.uk-nav.uk-margin-remove
                        li: a(href="#") MASAJ ÇEŞİTLERİ
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") HAMAM
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") VÜCUT & CİLT BAKIMI & ZAYIFLAMA
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") SAUNA & BUHAR ODASI
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") FİTNESS MERKEZİ & KAPALI YÜZME HAVUZU
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
        div(class="uk-width-1-3@m")
            a.uk-light.uk-display-block(href="yiyecek-icecek.html.html" class="uk-hidden@m" uk-scrollspy-class)
                img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/grid/yiyecek-icecek-m.jpg" uk-img alt="")
                .uk-position-center
                    h3.uk-h5.uk-margin-remove YİYECEK VE İÇECEK
            .uk-inline-clip.uk-transition-toggle.uk-light(class="uk-visible@m" tabindex="0" uk-scrollspy-class)
                img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/grid/yiyecek-icecek.jpg" uk-img alt="")
                .uk-position-bottom-center
                    h3.uk-h5 YİYECEK VE İÇECEK
                .uk-transition-fade.uk-position-cover.uk-overlay.background-secondary-gradient
                    h3.uk-h5 YİYECEK VE İÇECEK
                    ul.uk-nav.uk-margin-remove
                        li: a(href="#") MASAJ ÇEŞİTLERİ
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") HAMAM
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") VÜCUT & CİLT BAKIMI & ZAYIFLAMA
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") SAUNA & BUHAR ODASI
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") FİTNESS MERKEZİ & KAPALI YÜZME HAVUZU
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
        div(class="uk-width-1-3@m")
            a.uk-light.uk-display-block(href="balayi.html" class="uk-hidden@m" uk-scrollspy-class)
                img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/grid/balayi.jpg" uk-img alt="")
                .uk-position-center
                    h3.uk-h5.uk-margin-remove BALAYI
            .uk-inline-clip.uk-transition-toggle.uk-light(class="uk-visible@m" tabindex="0" uk-scrollspy-class)
                img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/grid/balayi.jpg" uk-img alt="")
                .uk-position-bottom-center
                    h3.uk-h5 BALAYI
                .uk-transition-fade.uk-position-cover.uk-overlay.background-secondary-gradient
                    h3.uk-h5 BALAYI
                    ul.uk-nav.uk-margin-remove
                        li: a(href="#") MASAJ ÇEŞİTLERİ
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") HAMAM
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") VÜCUT & CİLT BAKIMI & ZAYIFLAMA
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") SAUNA & BUHAR ODASI
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") FİTNESS MERKEZİ & KAPALI YÜZME HAVUZU
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
        div(class="uk-width-1-2@m")
            a.uk-light.uk-display-block(href="karina-spa.html" class="uk-hidden@m" uk-scrollspy-class)
                img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/grid/karina-spa-m.jpg" uk-img alt="")
                .uk-position-center
                    h3.uk-h5.uk-margin-remove KARİNA SPA
            .uk-inline-clip.uk-transition-toggle.uk-light(class="uk-visible@m" tabindex="0" uk-scrollspy-class)
                img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/grid/karina-spa.jpg" uk-img alt="")
                .uk-position-bottom-center
                    h3.uk-h5 KARINA SPA
                .uk-transition-fade.uk-position-cover.uk-overlay.background-secondary-gradient
                    h3.uk-h5 KARINA SPA
                    ul.uk-nav.uk-margin-remove
                        li: a(href="#") MASAJ ÇEŞİTLERİ
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") HAMAM
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") VÜCUT & CİLT BAKIMI & ZAYIFLAMA
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") SAUNA & BUHAR ODASI
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") FİTNESS MERKEZİ & KAPALI YÜZME HAVUZU
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
        div(class="uk-width-1-2@m")
            a.uk-light.uk-display-block(href="aqua.html" class="uk-hidden@m" uk-scrollspy-class)
                img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/grid/aqua-m.jpg" uk-img alt="")
                .uk-position-center
                    h3.uk-h5.uk-margin-remove AQUA PARK & HAVUZLAR & PLAJ
            .uk-inline-clip.uk-transition-toggle.uk-light(class="uk-visible@m" tabindex="0" uk-scrollspy-class)
                img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/grid/aqua.jpg" uk-img alt="")
                .uk-position-bottom-center
                    h3.uk-h5 AQUA PARK & HAVUZLAR & PLAJ
                .uk-transition-fade.uk-position-cover.uk-overlay.background-secondary-gradient
                    h3.uk-h5 AQUA PARK & HAVUZLAR & PLAJ
                    ul.uk-nav.uk-margin-remove
                        li: a(href="#") MASAJ ÇEŞİTLERİ
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") HAMAM
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") VÜCUT & CİLT BAKIMI & ZAYIFLAMA
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") SAUNA & BUHAR ODASI
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") FİTNESS MERKEZİ & KAPALI YÜZME HAVUZU
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
        div(class="uk-width-1-3@m")
            a.uk-light.uk-display-block(href="cocuk-kulubu.html" class="uk-hidden@m" uk-scrollspy-class)
                img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/grid/cocuk-kulubu-m.jpg" uk-img alt="")
                .uk-position-center
                    h3.uk-h5.uk-margin-remove ÇOCUK KULUBÜ
            .uk-inline-clip.uk-transition-toggle.uk-light(class="uk-visible@m" tabindex="0" uk-scrollspy-class)
                img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/grid/cocuk-kulubu.jpg" uk-img alt="")
                .uk-position-bottom-center
                    h3.uk-h5 ÇOCUK KULUBÜ
                .uk-transition-fade.uk-position-cover.uk-overlay.background-secondary-gradient
                    h3.uk-h5 ÇOCUK KULUBÜ
                    ul.uk-nav.uk-margin-remove
                        li: a(href="#") MASAJ ÇEŞİTLERİ
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") HAMAM
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") VÜCUT & CİLT BAKIMI & ZAYIFLAMA
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") SAUNA & BUHAR ODASI
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") FİTNESS MERKEZİ & KAPALI YÜZME HAVUZU
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
        div(class="uk-width-1-3@m")
            a.uk-light.uk-display-block(href="aktiviteler.html" class="uk-hidden@m" uk-scrollspy-class)
                img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/grid/aktiviteler-m.jpg" uk-img alt="")
                .uk-position-center
                    h3.uk-h5.uk-margin-remove AKTİVİTELER
            .uk-inline-clip.uk-transition-toggle.uk-light(class="uk-visible@m" tabindex="0" uk-scrollspy-class)
                img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/grid/aktiviteler.jpg" uk-img alt="")
                .uk-position-bottom-center
                    h3.uk-h5 AKTİVİTELER
                .uk-transition-fade.uk-position-cover.uk-overlay.background-secondary-gradient
                    h3.uk-h5 AKTİVİTELER
                    ul.uk-nav.uk-margin-remove
                        li: a(href="#") MASAJ ÇEŞİTLERİ
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") HAMAM
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") VÜCUT & CİLT BAKIMI & ZAYIFLAMA
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") SAUNA & BUHAR ODASI
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") FİTNESS MERKEZİ & KAPALI YÜZME HAVUZU
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
        div(class="uk-width-1-3@m")
            a.uk-light.uk-display-block(href="casino.html" class="uk-hidden@m" uk-scrollspy-class)
                img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/grid/casino-m.jpg" uk-img alt="")
                .uk-position-center
                    h3.uk-h5.uk-margin-remove CASINO
            .uk-inline-clip.uk-transition-toggle.uk-light(class="uk-visible@m" tabindex="0" uk-scrollspy-class)
                img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/grid/casino.jpg" uk-img alt="")
                .uk-position-bottom-center
                    h3.uk-h5 CASINO
                .uk-transition-fade.uk-position-cover.uk-overlay.background-secondary-gradient
                    h3.uk-h5 CASINO
                    ul.uk-nav.uk-margin-remove
                        li: a(href="#") MASAJ ÇEŞİTLERİ
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") HAMAM
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") VÜCUT & CİLT BAKIMI & ZAYIFLAMA
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") SAUNA & BUHAR ODASI
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") FİTNESS MERKEZİ & KAPALI YÜZME HAVUZU
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
        div(class="uk-width-1-2@m")
            a.uk-light.uk-display-block(href="toplanti.html" class="uk-hidden@m" uk-scrollspy-class)
                img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/grid/toplanti-m.jpg" uk-img alt="")
                .uk-position-center
                    h3.uk-h5.uk-margin-remove TOPLANTI
            .uk-inline-clip.uk-transition-toggle.uk-light(class="uk-visible@m" tabindex="0" uk-scrollspy-class)
                img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/grid/toplanti.jpg" uk-img alt="")
                .uk-position-bottom-center
                    h3.uk-h5 TOPLANTI
                .uk-transition-fade.uk-position-cover.uk-overlay.background-secondary-gradient
                    h3.uk-h5 TOPLANTI
                    ul.uk-nav.uk-margin-remove
                        li: a(href="#") MASAJ ÇEŞİTLERİ
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") HAMAM
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") VÜCUT & CİLT BAKIMI & ZAYIFLAMA
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") SAUNA & BUHAR ODASI
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") FİTNESS MERKEZİ & KAPALI YÜZME HAVUZU
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
        div(class="uk-width-1-2@m")
            a.uk-light.uk-display-block(href="etkinlikler.html" class="uk-hidden@m" uk-scrollspy-class)
                img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/grid/etkinlikler.jpg" uk-img alt="")
                .uk-position-center
                    h3.uk-h5.uk-margin-remove ETKİNLİKLER
            .uk-inline-clip.uk-transition-toggle.uk-light(class="uk-visible@m" tabindex="0" uk-scrollspy-class)
                img.uk-transition-scale-up.uk-transition-opaque(data-src="@/images/grid/etkinlikler.jpg" uk-img alt="")
                .uk-position-bottom-center
                    h3.uk-h5 ETKİNLİLER
                .uk-transition-fade.uk-position-cover.uk-overlay.background-secondary-gradient
                    h3.uk-h5 ETKİNLİLER
                    ul.uk-nav.uk-margin-remove
                        li: a(href="#") MASAJ ÇEŞİTLERİ
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") HAMAM
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") VÜCUT & CİLT BAKIMI & ZAYIFLAMA
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") SAUNA & BUHAR ODASI
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
                        li: a(href="#") FİTNESS MERKEZİ & KAPALI YÜZME HAVUZU
                            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
