extends ../layouts/master

block content

    +parallax-large(
        '@/images/parallax/konaklama.jpg',
        'DELUXE SEA VIEW'
    )

    #parallax-scroll

    +content-text-bg(
        "Tatil keyfini eşsiz mimarisiyle sunan tamamı deniz manzaralı deluxe odalar 37m² ile 57m² arasında değişmektedir. Ayrıca,  tüm odalar balkonludur."
    )

    +slideshow-pull()(class="uk-background-none")
        li
            a.uk-position-cover(href="@/images/slideshow/slideshow-konaklama.jpg")
                img(data-src="@/images/slideshow/slideshow-konaklama.jpg" alt="" uk-cover uk-img)
                .uk-position-top-left.uk-position-medium.uk-light
                    h5.uk-margin-remove DELUXE SEA VIEW

        li
            a.uk-position-cover(href="@/images/slideshow/slideshow-konaklama.jpg")
                img(data-src="@/images/slideshow/slideshow-konaklama.jpg" alt="" uk-cover uk-img)
                .uk-position-top-left.uk-position-medium.uk-light
                    h5.uk-margin-remove DELUXE SEA VIEW

    +parallax-card(
        '@/images/parallax/konaklama-card.jpg',
        'konaklama oda ozellikleri',
        'ODA ÖZELLİKLERİ'
    )(class="uk-text-left parallax-card-custom")
        ul.uk-list.uk-list-divider.uk-list-bullet(class="uk-column-1-2@m")
            li LCD TV,
            li Uydu Yayını,
            li Dijital kasa
            li Hem banyoda hem de odada direkt hatlı telefon
            li Klima
            li Minibar
            li Özel yapım yataklar
            li Yangın dedektörü
            li Küvet
            li French veya Twin yatak
            li Oda Servisi
            li Balkon
            li Deniz Manzarası
            li Kartlı anahtar sistemi
            li Saç Kurutma Makinası

        a.uk-button.uk-padding-remove-left(href="#") REZERVASYON
            span.uk-margin-small-left(uk-icon="icon: icn-arrow-right;")
