extends ../layouts/master

block content

    +parallax-medium(
        '@/images/parallax/toplanti.jpg',
        '@/images/parallax/toplanti.jpg',
        'TOPLANTI SALONLARI',
        'Konforlu, şık ve ustun teknolojiyle donatılmış konferans ve toplantı salonlarıyla iş dunyasının ihtiyaclarını da en iyi şekilde sunan. Nuh’un Gemisi Deluxe Hotel & Spa’nin ozenli ve işinde uzman ekibi; misafirlerine daima daha fazlasını sunmak icin hizmetinizde.'
    )

    +content-text-left('GENESIS')
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        .uk-margin-medium.detail
            .uk-flex
                a(href="#") Kroki için tıklayın
                a(href="#") Teknik bilgi için tıklayın

    +slideshow-pull()(class="uk-padding-remove-top")
        li
            a.uk-position-cover(href="@/images/slideshow/slideshow-toplanti.jpg")
                img(data-src="@/images/slideshow/slideshow-toplanti.jpg" alt="" uk-cover uk-img)
                .uk-position-top-left.uk-position-medium.uk-light
                    h5.uk-margin-remove DELUXE SEA VIEW

        li
            a.uk-position-cover(href="@/images/slideshow/slideshow-toplanti.jpg")
                img(data-src="@/images/slideshow/slideshow-toplanti.jpg" alt="" uk-cover uk-img)
                .uk-position-top-left.uk-position-medium.uk-light
                    h5.uk-margin-remove DELUXE SEA VIEW

    section.uk-section.uk-section-medium(uk-scrollspy="target: [uk-scrollspy-class]; cls: uk-animation-slide-bottom-medium; delay: 300;")
        .uk-container.uk-container-large(uk-scrollspy-class)
            p.uk-text-large.uk-text-bold.uk-text-secondary Toplantı Salonu Özellikleri
            table.uk-table.uk-table-striped.uk-box-shadow-small.uk-text-center(class="uk-visible@m")
                thead
                    tr
                        th.uk-text-primary Salon
                        th.uk-text-primary Alan
                        th.uk-text-primary Genişlik
                        th.uk-text-primary Uzunluk
                        th.uk-text-primary Yükseklik
                        th.uk-text-primary Sınıf
                        th.uk-text-primary Tiyatro
                        th.uk-text-primary Banket

                tbody
                    tr
                        td.uk-text-secondary.uk-text-bold GENESIS
                        td.uk-text-secondary 1200 m2
                        td.uk-text-secondary 30 m
                        td.uk-text-secondary 30 m
                        td.uk-text-secondary 3.8 m
                        td.uk-text-secondary 900 kişi
                        td.uk-text-secondary 1200 kişi
                        td.uk-text-secondary 1000 kişi

            table.uk-table.uk-table-striped.uk-box-shadow-small.uk-text-center(class="uk-hidden@m")
                tbody
                    tr
                        th.uk-text-primary Salon
                        td.uk-text-secondary.uk-text-bold GENESIS
                    tr
                        th.uk-text-primary Alan
                        td.uk-text-secondary 1200 m2
                    tr
                        th.uk-text-primary Genişlik
                        td.uk-text-secondary 30 m
                    tr
                        th.uk-text-primary Uzunluk
                        td.uk-text-secondary 30 m
                    tr
                        th.uk-text-primary Yükseklik
                        td.uk-text-secondary 3.8 m
                    tr
                        th.uk-text-primary Sınıf
                        td.uk-text-secondary 900 kişi
                    tr
                        th.uk-text-primary Tiyatro
                        td.uk-text-secondary 1200 kişi
                    tr
                        th.uk-text-primary Banket
                        td.uk-text-secondary 1000 kişi

    +slider-content-transitions('uk-child-width-1-5@m')
        li
            .uk-panel.uk-position-bottom-center.uk-text-center.uk-padding-small
                h5.uk-margin-remove GENESIS
            img(data-src="@/images/slider/slider-toplanti-1.jpg" alt="" uk-img)
        li
            .uk-panel.uk-position-bottom-center.uk-text-center.uk-padding-small
                h5.uk-margin-remove NISIR
            img(data-src="@/images/slider/slider-toplanti-2.jpg" alt="" uk-img)
        li
            .uk-panel.uk-position-bottom-center.uk-text-center.uk-padding-small
                h5.uk-margin-remove AĞRI
            img(data-src="@/images/slider/slider-toplanti-3.jpg" alt="" uk-img)
        li
            .uk-panel.uk-position-bottom-center.uk-text-center.uk-padding-small
                h5.uk-margin-remove ZAGROS 1
            img(data-src="@/images/slider/slider-toplanti-4.jpg" alt="" uk-img)
        li
            .uk-panel.uk-position-bottom-center.uk-text-center.uk-padding-small
                h5.uk-margin-remove ZAGROS 2
            img(data-src="@/images/slider/slider-toplanti-5.jpg" alt="" uk-img)
