// Section Content Column Text

section.uk-section.section-content-column-text

    .uk-container(uk-scrollspy="cls: uk-animation-slide-top-small; target: > div; delay: 150;")

        .section-content-text-column-border

            div(class="uk-grid-medium uk-grid" uk-grid)

                div(class="uk-width-2-5@m")

                    h2 Title
                    span Explanation

                div(class="uk-width-3-5@m")

                    .text

                        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.

        div(class="uk-text-right@m uk-text-left uk-container")

            a(href="#" class="uk-button uk-padding-remove uk-margin-large-top") LINK
                img(src="/images/icons/arrow-right.svg" alt="")