// Accordion Default

section.uk-section.uk-section-large.accordion-default

    .uk-container

        ul.uk-margin-auto(uk-accordion uk-scrollspy="cls: uk-animation-slide-top-small; target: li; delay: 150;")

            li.uk-open
                a(class="uk-accordion-title" href="#")
                    h5.uk-margin-remove-bottom Title 1
                .uk-accordion-content
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            li
                a(class="uk-accordion-title" href="#")
                    h5.uk-margin-remove-bottom Title 2
                .uk-accordion-content
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            li
                a(class="uk-accordion-title" href="#")
                    h5.uk-margin-remove-bottom Title 3
                .uk-accordion-content
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.