// accordion

section.accordion

    .uk-container

        ul.uk-margin-auto(uk-accordion)

            li.uk-open
                h3.uk-accordion-title.uk-margin-remove-bottom  
                    span Lorem ipsum dolor sit amet, consectetur adipiscing elit?
                .uk-accordion-content
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id purus suscipit, consequat tellus et, blandit arcu. Aliquam pharetra, massa eget congue maximus, odio felis convallis nisi, id facilisis velit nulla quis metus. Sed facilisis nisl at porttitor blandit. Duis tellus purus, auctor in magna at, gravida rhoncus urna. Nunc aliquam eget velit vel varius. Nulla volutpat volutpat sem, at ultrices velit congue et. Curabitur aliquam dictum convallis. Curabitur eleifend euismod mauris ut varius. Curabitur tempor felis eu ultrices accumsan. Fusce imperdiet, tellus et egestas volutpat, sapien tortor euismod nulla, nec accumsan est ipsum ut erat. Suspendisse potenti.

                    p Quisque porttitor massa nec imperdiet dictum. Curabitur posuere placerat dolor, non congue est imperdiet vel. Duis faucibus augue pellentesque justo tempus tempus. Mauris lorem lectus, scelerisque sit amet est et, consectetur mollis mi. Nunc eu gravida elit, vel venenatis leo. Sed mollis pretium fringilla. Quisque ornare scelerisque neque nec vestibulum. Nullam eu leo vel ex cursus consectetur sed non leo. Phasellus quis nisl urna. Donec ac odio dolor. Aenean id condimentum tortor.

            li
                h3.uk-accordion-title.uk-margin-remove-bottom 
                    span Suspendisse cursus purus at odio consequat, imperdiet commodo nibh ullamcorper? 
                .uk-accordion-content
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id purus suscipit, consequat tellus et, blandit arcu. Aliquam pharetra, massa eget congue maximus, odio felis convallis nisi, id facilisis velit nulla quis metus. Sed facilisis nisl at porttitor blandit. Duis tellus purus, auctor in magna at, gravida rhoncus urna. Nunc aliquam eget velit vel varius. Nulla volutpat volutpat sem, at ultrices velit congue et. Curabitur aliquam dictum convallis. Curabitur eleifend euismod mauris ut varius. Curabitur tempor felis eu ultrices accumsan. Fusce imperdiet, tellus et egestas volutpat, sapien tortor euismod nulla, nec accumsan est ipsum ut erat. Suspendisse potenti.

                    p Quisque porttitor massa nec imperdiet dictum. Curabitur posuere placerat dolor, non congue est imperdiet vel. Duis faucibus augue pellentesque justo tempus tempus. Mauris lorem lectus, scelerisque sit amet est et, consectetur mollis mi. Nunc eu gravida elit, vel venenatis leo. Sed mollis pretium fringilla. Quisque ornare scelerisque neque nec vestibulum. Nullam eu leo vel ex cursus consectetur sed non leo. Phasellus quis nisl urna. Donec ac odio dolor. Aenean id condimentum tortor.        

            li
                h3.uk-accordion-title.uk-margin-remove-bottom  
                    span Duis vestibulum tortor ac urna tempor sollicitudin? 
                .uk-accordion-content
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id purus suscipit, consequat tellus et, blandit arcu. Aliquam pharetra, massa eget congue maximus, odio felis convallis nisi, id facilisis velit nulla quis metus. Sed facilisis nisl at porttitor blandit. Duis tellus purus, auctor in magna at, gravida rhoncus urna. Nunc aliquam eget velit vel varius. Nulla volutpat volutpat sem, at ultrices velit congue et. Curabitur aliquam dictum convallis. Curabitur eleifend euismod mauris ut varius. Curabitur tempor felis eu ultrices accumsan. Fusce imperdiet, tellus et egestas volutpat, sapien tortor euismod nulla, nec accumsan est ipsum ut erat. Suspendisse potenti.

                    p Quisque porttitor massa nec imperdiet dictum. Curabitur posuere placerat dolor, non congue est imperdiet vel. Duis faucibus augue pellentesque justo tempus tempus. Mauris lorem lectus, scelerisque sit amet est et, consectetur mollis mi. Nunc eu gravida elit, vel venenatis leo. Sed mollis pretium fringilla. Quisque ornare scelerisque neque nec vestibulum. Nullam eu leo vel ex cursus consectetur sed non leo. Phasellus quis nisl urna. Donec ac odio dolor. Aenean id condimentum tortor. 

            li
                h3.uk-accordion-title.uk-margin-remove-bottom  
                    span Nam id ullamcorper tellus, et tempus mauris?
                .uk-accordion-content
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer id purus suscipit, consequat tellus et, blandit arcu. Aliquam pharetra, massa eget congue maximus, odio felis convallis nisi, id facilisis velit nulla quis metus. Sed facilisis nisl at porttitor blandit. Duis tellus purus, auctor in magna at, gravida rhoncus urna. Nunc aliquam eget velit vel varius. Nulla volutpat volutpat sem, at ultrices velit congue et. Curabitur aliquam dictum convallis. Curabitur eleifend euismod mauris ut varius. Curabitur tempor felis eu ultrices accumsan. Fusce imperdiet, tellus et egestas volutpat, sapien tortor euismod nulla, nec accumsan est ipsum ut erat. Suspendisse potenti.

                    p Quisque porttitor massa nec imperdiet dictum. Curabitur posuere placerat dolor, non congue est imperdiet vel. Duis faucibus augue pellentesque justo tempus tempus. Mauris lorem lectus, scelerisque sit amet est et, consectetur mollis mi. Nunc eu gravida elit, vel venenatis leo. Sed mollis pretium fringilla. Quisque ornare scelerisque neque nec vestibulum. Nullam eu leo vel ex cursus consectetur sed non leo. Phasellus quis nisl urna. Donec ac odio dolor. Aenean id condimentum tortor.    