// Accordion Default

section

    .uk-container

        ul(uk-accordion)

            li.uk-open
                a(class="uk-accordion-title" href="#") Item 1
                .uk-accordion-content
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            li
                a(class="uk-accordion-title" href="#") Item 1
                .uk-accordion-content
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

            li
                a(class="uk-accordion-title" href="#") Item 1
                .uk-accordion-content
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.