// Section Content Image Right

section.uk-section.uk-padding-remove.section-content-image-right(uk-scrollspy="cls: uk-animation-slide-top-small; target: > div; delay: 150;")

    .uk-container

        div(class="uk-grid-collapse uk-child-width-1-2@l uk-grid" uk-grid)

            div

                .text

                    include ../../heading/border-bottom-left/border-bottom-left

                    p Explanation

            div

                img(src="/images/section/section.jpg" alt="")