// Slideshow Advanced Effects

section.slideshow-default-advanced-effects

    div(class="uk-position-relative uk-visible-toggle uk-slideshow" uk-slideshow="max-height: 860; animation: push; velocity: 1.4; ratio: 1:1.5; autoplay: true")
        
        ul.uk-slideshow-items

            li
                div(class="uk-hidden@m" uk-slideshow-parallax="scale: 1.02,1.02,1")
                    img(src="/images/slideshow/slideshow-1-mobile.jpg" alt="")
                div(class="uk-position-cover uk-visible@m" uk-slideshow-parallax="scale: 1.2,1.2,1")
                    img(src="/images/slideshow/slideshow-1.jpg" alt="" uk-cover)
                div(class="uk-position-cover" uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000")
                .uk-position-top-center.uk-position-large.uk-text-center.uk-light
                    div(uk-slideshow-parallax="scale: 1,1,0.8" class="uk-margin-small-top")
                        span(uk-slideshow-parallax="x: 200,0,0;") BLOB
                        h1(uk-slideshow-parallax="x: 400,0,0" class="uk-margin-remove") Günümüz tasarım anlayışı, 
                            br
                            | ergonomi ve estetiğin kusursuz dengesi.
                .uk-position-bottom-center.uk-position-large.uk-text-center
                    a(href="" class="uk-button uk-button-default uk-margin-medium-bottom button-animation button-animation-light") ÜRÜNLERİ GÖR
                        
            li
                div(class="uk-hidden@m" uk-slideshow-parallax="scale: 1.02,1.02,1")
                    img(src="/images/slideshow/slideshow-1-mobile.jpg" alt="")
                div(class="uk-position-cover uk-visible@m" uk-slideshow-parallax="scale: 1.2,1.2,1")
                    img(src="/images/slideshow/slideshow-2.jpg" alt="" uk-cover)
                div(class="uk-position-cover" uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000")
                .uk-position-top-center.uk-position-large.uk-text-center.uk-light
                    div(uk-slideshow-parallax="scale: 1,1,0.8" class="uk-margin-small-top")
                        span(uk-slideshow-parallax="x: 200,0,0;") CITY
                        h1(uk-slideshow-parallax="x: 400,0,0" class="uk-margin-remove") Estetiğin ve ergonominin buluştuğu 
                            br
                            | güncel tasarım.

                .uk-position-bottom-center.uk-position-large.uk-text-center
                    a(href="" class="uk-button uk-button-default uk-margin-medium-bottom button-animation button-animation-light") ÜRÜNLERİ GÖR

        .uk-light
            a(class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous")
            a(class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next")

        .uk-position-bottom-center.uk-position-large
            ul.uk-slideshow-nav.uk-dotnav.uk-flex-center