// Parallax Start And End Values

.uk-height-large.uk-background-cover.uk-overflow-hidden.uk-light.uk-flex.uk-flex-top(style="background-image: url('images/dark.jpg');")
    .uk-text-center.uk-margin-auto.uk-margin-auto-vertical(class="uk-width-1-2@m")
        h1(uk-parallax="opacity: 0,1; y: -100,0; scale: 2,1; viewport: 0.5;") Headline
        p(uk-parallax="opacity: 0,1; y: 100,0; scale: 0.5,1; viewport: 0.5;") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.