// Slideshow Overlay Animation

section.slideshow-overlay-animation

    .uk-container

        div(class="uk-position-relative uk-visible-toggle uk-dark" uk-slideshow="animation: push")
            
            ul.uk-slideshow-items

                - for (var x = 0; x < 5; x++)

                    li
                        img(src="https://dummyimage.com/1920x600/ff0000/ff0000.jpg" alt="" uk-cover)
                        .uk-overlay.uk-overlay-primary.uk-position-top.uk-text-center.uk-transition-slide-top.uk-light
                            h2.uk-margin-remove Center
                            p.uk-margin-remove Lorem ipsum dolor sit amet, consectetur adipiscing elit.

            .uk-light
                a(class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous")
                a(class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next")

            ul.uk-slideshow-nav.uk-dotnav.uk-flex-center.uk-margin  