// Slideshow Advanced Effects

section

    .uk-container

        div(class="uk-position-relative uk-visible-toggle uk-dark" uk-slideshow="animation: push")
            
            ul.uk-slideshow-items

                - for(var i = 0; i<3; i++)

                    li
                        div(class="uk-position-cover" uk-slideshow-parallax="scale: 1.2,1.2,1")
                            img(src="https://getuikit.com/docs/images/photo.jpg" alt="" uk-cover)
                        div(class="uk-position-cover" uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000")
                        .uk-position-center.uk-position-medium.uk-text-center.uk-light
                            div(uk-slideshow-parallax="scale: 1,1,0.8")
                                h2(uk-slideshow-parallax="x: 200,0,0") Heading
                                p(uk-slideshow-parallax="x: 400,0,0;") Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            .uk-light
                a(class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous")
                a(class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next")

            ul.uk-slideshow-nav.uk-dotnav.uk-flex-center.uk-margin   