// Background Responsive

.uk-background-cover.uk-background-muted.uk-height-medium.uk-width-large.uk-flex.uk-flex-center.uk-flex-middle(class="uk-background-image@m" style="background-image: url(../images/uikit.jpg);")
    p.uk-h4.uk-margin-remove.uk-light(class="uk-visible@m") Image shown
    p.uk-h4.uk-margin-remove(class="uk-hidden@m") Image not shown