// Background

.uk-grid.uk-text-center(class="uk-child-width-1-2@s" uk-grid)
    div
        .uk-background-default.uk-padding.uk-panel
            p.uk-h4 Default
    div
        .uk-background-muted.uk-padding.uk-panel
            p.uk-h4 Muted
    div
        .uk-background-primary.uk-padding.uk-panel
            p.uk-h4 Primary
    div
        .uk-background-secondary.uk-padding.uk-panel
            p.uk-h4 Secondary