//
// Component: Height
//
// ========================================================================


// Variables
// ========================================================================

@height-small-height:                           150px;
@height-medium-height:                          400px;
@height-large-height:                           800px;


// Miscellaneous
// ========================================================================

.hook-height-misc() {}


// Responsive
// ========================================================================

@media (max-width: 639px) {
    .uk-height-medium {
        height: 42vh;
        min-height: 240px;
    }
}