// Slideshow Content Parallax

.uk-position-relative.uk-visible-toggle.uk-light(uk-slideshow="animation: push")

	ul.uk-slideshow-items
		li
			img(src="@/images/tests/photo.jpg" alt="" uk-cover)
			.uk-position-center.uk-position-small.uk-text-center
				h2(uk-slideshow-parallax="x: 100,-100") Heading
				p(uk-slideshow-parallax="x: 200,-200") Lorem ipsum dolor sit amet.
		li
			img(src="@/images/tests/photo.jpg" alt="" uk-cover)
			.uk-position-center.uk-position-small.uk-text-center
				h2(uk-slideshow-parallax="x: 100,-100") Heading
				p(uk-slideshow-parallax="x: 200,-200") Lorem ipsum dolor sit amet.
		li
			img(src="@/images/tests/photo.jpg" alt="" uk-cover)
			.uk-position-center.uk-position-small.uk-text-center
				h2(uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0") Heading
				p(uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0") Lorem ipsum dolor sit amet.

	a.uk-position-center-left.uk-position-small.uk-hidden-hover(href="#" uk-slidenav-previous uk-slider-item="previous")
	a.uk-position-center-right.uk-position-small.uk-hidden-hover(href="#" uk-slidenav-next uk-slider-item="next")
