// Background Size Modifiers

.uk-grid.uk-text-center(class="uk-child-width-1-2@s" uk-grid)
    div
        .uk-background-cover.uk-height-medium.uk-panel.uk-flex.uk-flex-center.uk-flex-middle(style="background-image: url(../images/uikit.jpg);")
            p.uk-h4 Cover
    div
        .uk-background-contain.uk-height-medium.uk-panel.uk-flex.uk-flex-center.uk-flex-middle(style="background-image: url(../images/uikit.jpg);")
            p.uk-h4 Contain