extends ../../master/master

block content

    include ../../components/header/header-default
    hr.uk-hr
    include ../../components/header/header-logo-center
    hr.uk-hr
    include ../../components/header/header-parent 
    hr.uk-hr  