extends ../../master/master

block content

    include ../../components/map/map-default
    hr.uk-hr
    include ../../components/map/map-marker-multiple
    hr.uk-hr
    include ../../components/map/map-marker-different
    hr.uk-hr