extends ../../master/master

block content

    include ../../components/slideshow/slideshow-default
    hr.uk-hr
    include ../../components/slideshow/slideshow-advanced-effects
    hr.uk-hr
    include ../../components/slideshow/slideshow-overlay-animation
    hr.uk-hr
    include ../../components/slideshow/slideshow-overlay
    hr.uk-hr
    include ../../components/slideshow/slideshow-parallax
    hr.uk-hr