extends ../../master/master

block content

    include ../../components/slider/slider-default
    hr.uk-hr
    include ../../components/slider/slider-gutter
    hr.uk-hr
    include ../../components/slider/slider-navigation
    hr.uk-hr
    include ../../components/slider/slider-sets
    hr.uk-hr
    include ../../components/slider/slider-item
    hr.uk-hr
    include ../../components/slider/slider-center
    hr.uk-hr 