// Card Detail List

section.uk-section.uk-section-large.uk-section-muted.card-detail-list

    .uk-container(uk-scrollspy="cls: uk-animation-slide-top-small; target: > .section-heading; delay: 150;")

        include ../../heading/multiple-center/multiple-center

        div(class="uk-child-width-1-3@m uk-grid-match uk-grid" uk-grid uk-scrollspy="cls: uk-animation-slide-top-small; target: > div > .uk-card-default; delay: 150;")

            - for (var i = 0; i < 6; i++)

                div
                    a.uk-card-default.uk-card-small.uk-border-rounded.uk-padding-remove.uk-link-reset(href="#")
                        .uk-card-media-top.uk-inline-clip.uk-transition-toggle.uk-width-1-1(tabindex="0")
                            img.uk-transition-scale-up.uk-transition-opaque.uk-width-1-1(src="/images/card/card-media-top.jpg" alt="")
                        .uk-card-footer
                            h6.uk-margin-remove.helvetica-bd Title