// Dropdown Position


.uk-inline
    button.uk-button.uk-button-default(type="button") Top Right
    .uk-dropdown(uk-dropdown="pos: top-right")
        ul.uk-nav.uk-dropdown-nav
            li.uk-active
                a(href="#") Active
            li
                a(href="#") Item
            li.uk-nav-header Header
            li
                a(href="#") Item
            li
                a(href="#") Item
            li.uk-nav-divider
            li
                a(href="#") Item

.uk-inline
    button.uk-button.uk-button-default(type="button") Bottom Justify
    .uk-dropdown(uk-dropdown="pos: bottom-justify")
        ul.uk-nav.uk-dropdown-nav
            li.uk-active
                a(href="#") Active
            li
                a(href="#") Item
            li.uk-nav-header Header
            li
                a(href="#") Item
            li
                a(href="#") Item
            li.uk-nav-divider
            li
                a(href="#") Item

.uk-inline
    button.uk-button.uk-button-default(type="button") Right Center
    .uk-dropdown(uk-dropdown="pos: right-center")
        ul.uk-nav.uk-dropdown-nav
            li.uk-active
                a(href="#") Active
            li
                a(href="#") Item
            li.uk-nav-header Header
            li
                a(href="#") Item
            li
                a(href="#") Item
            li.uk-nav-divider
            li
                a(href="#") Item