// Animation Origin Modifiers

.uk-grid.uk-grid-match.uk-child-width-1-2(class="uk-child-width-1-4@s " uk-grid)
    .uk-animation-toggle
        .uk-card.uk-card-default.uk-card-body.uk-animation-scale-up.uk-transform-origin-bottom-right
            p.uk-text-center Scale Up
    .uk-animation-toggle
        .uk-card.uk-card-default.uk-card-body.uk-animation-scale-up.uk-transform-origin-top-center
            p.uk-text-center Scale Up
    .uk-animation-toggle
        .uk-card.uk-card-default.uk-card-body.uk-animation-scale-up.uk-transform-origin-bottom-center
            p.uk-text-center Scale Up
    