// Animation Reverse Modifier

.uk-grid.uk-grid-match.uk-child-width-1-2(class="uk-child-width-1-4@s " uk-grid)
    .uk-animation-toggle
        .uk-card.uk-card-default.uk-card-body.uk-animation-fade.uk-animation-reverse
            p.uk-text-center Fade
    .uk-animation-toggle
        .uk-card.uk-card-default.uk-card-body.uk-animation-scale-up.uk-animation-reverse
            p.uk-text-center Scale Up
    .uk-animation-toggle
        .uk-card.uk-card-default.uk-card-body.uk-animation-scale-down.uk-animation-reverse
            p.uk-text-center Scale Down
    .uk-animation-toggle
        .uk-card.uk-card-default.uk-card-body.uk-animation-shake.uk-animation-reverse
            p.uk-text-center Shake
    .uk-animation-toggle
        .uk-card.uk-card-default.uk-card-body.uk-animation-slide-left.uk-animation-reverse
            p.uk-text-center Left
    .uk-animation-toggle
        .uk-card.uk-card-default.uk-card-body.uk-animation-slide-top.uk-animation-reverse
            p.uk-text-center Top
    .uk-animation-toggle
        .uk-card.uk-card-default.uk-card-body.uk-animation-slide-bottom.uk-animation-reverse
            p.uk-text-center Bottom
    .uk-animation-toggle
        .uk-card.uk-card-default.uk-card-body.uk-animation-slide-right.uk-animation-reverse
            p.uk-text-center Right
    .uk-animation-toggle
        .uk-card.uk-card-default.uk-card-body.uk-animation-slide-left-small.uk-animation-reverse
            p.uk-text-center Left Small
    .uk-animation-toggle
        .uk-card.uk-card-default.uk-card-body.uk-animation-slide-top-small.uk-animation-reverse
            p.uk-text-center Top Small
    .uk-animation-toggle
        .uk-card.uk-card-default.uk-card-body.uk-animation-slide-bottom-small.uk-animation-reverse
            p.uk-text-center Bottom Small
    .uk-animation-toggle
        .uk-card.uk-card-default.uk-card-body.uk-animation-slide-right-small.uk-animation-reverse
            p.uk-text-center Right Small
    .uk-animation-toggle
        .uk-card.uk-card-default.uk-card-body.uk-animation-slide-left-medium.uk-animation-reverse
            p.uk-text-center Left Medium
    .uk-animation-toggle
        .uk-card.uk-card-default.uk-card-body.uk-animation-slide-top-medium.uk-animation-reverse
            p.uk-text-center Top Medium
    .uk-animation-toggle
        .uk-card.uk-card-default.uk-card-body.uk-animation-slide-bottom-medium.uk-animation-reverse
            p.uk-text-center Bottom Medium
    .uk-animation-toggle
        .uk-card.uk-card-default.uk-card-body.uk-animation-slide-right-medium.uk-animation-reverse
            p.uk-text-center Right Medium