// Tab Vertical

section.uk-section.uk-section-large.tab-vertical

    .uk-container

        .uk-text-center

            h3 TITLE

        div(class="uk-grid uk-grid-medium uk-child-width-1-2@m" uk-grid)

            div

                ul(class="uk-nav uk-nav-default uk-width-2-3@m" uk-switcher="connect: #component-nav; animation: uk-animation-fade; toggle: > :not(.uk-nav-header)")
                    li: a(href="#" class="") TAB 1
                    li: a(href="#" class="") TAB 2
                    li.uk-active: a(href="#" class="") TAB 3
                    li: a(href="#" class="") TAB 4
                    li: a(href="#" class="") TAB 5

            div

                ul(id="component-nav" class="uk-switcher")

                    li CONTENT 1
                    li CONTENT 2
                    li CONTENT 3
                    li CONTENT 4
                    li CONTENT 5