//
// Component: Marker
//
// ========================================================================


// Variables
// ========================================================================

//@formatter:off
@marker-padding:                                 5px;
@marker-background:                              @global-secondary-background;
@marker-color:                                   @global-inverse-color;

@marker-hover-color:                             @global-inverse-color;
//@formatter:on


// Component
// ========================================================================

.hook-marker() {
	border-radius: 500px;
}

.hook-marker-hover() {
}


// Miscellaneous
// ========================================================================

.hook-marker-misc() {
}


// Inverse
// ========================================================================

//@formatter:off
@inverse-marker-background:                  @global-muted-background;
@inverse-marker-color:                       @global-color;
@inverse-marker-hover-color:                 @global-color;
//@formatter:on

.hook-inverse-marker() {
}

.hook-inverse-marker-hover() {
}
