// Slider Content Parallax

section.slider-content-parallax

    .uk-container

        div(class="uk-position-relative uk-visible-toggle uk-light" uk-slider)
            
            ul(class="uk-slider-items uk-grid")

                - for (var x = 0; x < 5; x++)

                    li.uk-width-3-4
                        .uk-panel
                            img(src="https://dummyimage.com/800x500/ff0000/ff0000.jpg" alt="")
                            .uk-position-center.uk-text-center
                                h2(uk-slider-parallax="x: 100,-100") Heading
                                p(uk-slider-parallax="x: 200,-200") Lorem ipsum dolor sit amet.

            a(class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous")
            a(class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next")