// Slider Center

section.slider-center

    .uk-container

        div(class="uk-position-relative uk-visible-toggle uk-light" uk-slider="center: true")
            
            ul(class="uk-slider-items uk-grid uk-grid-small")

                - for (var x = 0; x < 5; x++)

                    li.uk-width-3-4
                        .uk-panel
                            img(src="https://dummyimage.com/1000x500/ff0000/ff0000.jpg" alt="")
                            .uk-position-center.uk-panel
                                h1 1
                            
            a(class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slider-item="previous")
            a(class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slider-item="next")