// Section Image List

section.uk-section.uk-section-large.card-media-top

    .uk-container(uk-scrollspy="cls: uk-animation-slide-top-small; target: > .section-heading; delay: 300;")

        include ../../heading/multiple-center/multiple-center

        div(class="uk-grid-medium uk-child-width-1-6@m uk-grid-match uk-grid" uk-grid uk-scrollspy="cls: uk-animation-slide-top-small; target: > div > div; delay: 300;")

            each image in ['card-media-top', 'card-media-top', 'card-media-top', 'card-media-top', 'card-media-top', 'card-media-top', 'card-media-top', 'card-media-top', 'card-media-top', 'card-media-top', 'card-media-top', 'card-media-top']

                div

                    div: img(src="/images/card/"+image+".jpg" alt="" +image+ "")