// Section Image List

section.uk-section.uk-section-large.card-media-top

    .uk-container(uk-scrollspy="cls: uk-animation-slide-top-small; target: > .section-heading; delay: 300;")

        include ../../heading/multiple-center/multiple-center

        div(class="uk-grid-medium uk-child-width-1-6@m uk-grid-match uk-grid" uk-grid uk-scrollspy="cls: uk-animation-slide-top-small; target: > div > div; delay: 300;")

            each image in ['fcfcfc', 'fcfcfc', 'fcfcfc', 'fcfcfc', 'fcfcfc', 'fcfcfc', 'fcfcfc', 'fcfcfc', 'fcfcfc', 'fcfcfc', 'fcfcfc', 'fcfcfc']

                div

                    div: img(src="https://dummyimage.com/250x150/ff0000/"+image+".jpg&text=Demo+Image" alt="" +image+ "")