// Tab Default

section.uk-section.uk-padding-remove.tab-default

    .uk-overflow-auto.tab-default-scroll

        ul(class="uk-tab uk-margin-auto" uk-switcher="animation: uk-animation-fade; connect: .uk-switcher")
        
            li.uk-active: a(href="#") Nav 1
            li: a(href="#") Nav 2
            li: a(href="#") Nav 3
            li: a(href="#") Nav 4

    ul(class="uk-switcher uk-margin-medium-top")

        - for (var i = 0; i < 4; i++)

            li
                include ../card/card-detail-list