// Section Content Text Bg

mixin content-text-bg(text)
    section.uk-section.uk-section-large.uk-section-muted.uk-background-center-center.uk-background-norepeat(class="uk-background-image@m" data-src="@/images/icons/logo-simple.svg" uk-img uk-scrollspy="target: [uk-scrollspy-class]; cls: uk-animation-slide-bottom-medium; delay: 300;")
        .uk-container
            .uk-grid.uk-flex-center(uk-grid)
                .uk-text-center(class="uk-width-1-2@m" uk-scrollspy-class)
                    p.uk-h5.uk-text-primary=text
