// Section Content Image Full

section.uk-section.uk-padding-remove.section-content-image-full(uk-scrollspy="cls: uk-animation-slide-top-small; target: > img; delay: 150;")

    img(src="/images/section/section.jpg" alt="")