// Section Content Image Right

section.uk-section.uk-padding-remove.section-content-image-right(uk-scrollspy="cls: uk-animation-slide-top-small; target: > div; delay: 150;")

	.uk-container

		div(class="uk-grid-collapse uk-child-width-1-2@l uk-grid" uk-grid)

			div

				.text

					h1 Heading

					p Explanation

			div

				img(src="@/images/tests/photo.jpg" alt="")
