// Section Content Image Left

section.uk-section.uk-padding-remove.section-content-image-left(uk-scrollspy="cls: uk-animation-slide-top-small; target: > div; delay: 150;")

	.uk-container

		div(class="uk-grid-collapse uk-child-width-1-2@l uk-grid" uk-grid)

			div

				img(src="/images/section/section.jpg" alt="")

			div

				.text

					include ../../heading/border-bottom-left/border-bottom-left

					p Explanation
