// Section Content Center

section.uk-section.uk-section-large.uk-position-relative.uk-height-large(style="background-image: url(https://dummyimage.com/1200x600/ff0000/fcfcfc.jpg&text=Demo+Image)")

	.uk-overlay.uk-position-center.uk-text-center

		h3 Title
		p Explanation
		a(href="iletisim.html" class="uk-button uk-button-default uk-button-danger helvetica-bd") Button
