// Section Content Center

section.uk-section.uk-section-large.uk-position-relative(uk-scrollspy="cls: uk-animation-slide-top-small; target: div; delay: 150;")

    .uk-text-center

        h3 Title
        p Explanation
        a(href="iletisim.html" class="uk-button uk-button-default uk-button-danger helvetica-bd") Button