extends ../layouts/master

block content

    include ../../components/header/default/default
    include ../../components/header/default-top-bar/top-bar
    include ../../components/header/logo-center/logo-center
    include ../../components/header/parent/parent
    include ../../components/header/parent-full-top-bar/parent-full-top-bar
    include ../../components/header/sticky/sticky
    include ../../components/header/sticky-cover-image/sticky-cover-image
    include ../../components/header/sticky-cover-video/sticky-cover-video

    include ../../components/slideshow/default/default
    include ../../components/slideshow/video/video
    include ../../components/slideshow/overlay/overlay
    include ../../components/slideshow/parallax/parallax
    include ../../components/slideshow/overlay-animation/overlay-animation
    include ../../components/slideshow/advanced-effects/advanced-effects

    include ../../components/accordion/default/default

    include ../../components/card/detail-list/detail-list
    include ../../components/card/media-top/media-top

    include ../../components/cover/image/image
    include ../../components/cover/video/video

    include ../../components/footer/default/default

    include ../../components/map/default/default
    include ../../components/map/marker-multiple/marker-multiple
    include ../../components/map/marker-different/marker-different

    include ../../components/marker/default/default

    include ../../components/modal/center/center
    include ../../components/modal/full-video/full-video

    include ../../components/pagination/prev-next/prev-next

    include ../../components/playground/candy-crush/candy-crush

    include ../../components/section/content-center/content-center
    include ../../components/section/content-column-text/content-column-text
    include ../../components/section/content-contact-default/content-contact-default
    include ../../components/section/content-image-bottom/content-image-bottom
    include ../../components/section/content-image-full/content-image-full
    include ../../components/section/content-image-left/content-image-left
    include ../../components/section/content-image-right/content-image-right
    include ../../components/section/item-image/item-image
    include ../../components/section/list-image/list-image

    include ../../components/slider/center-scale/center-scale
    include ../../components/slider/center/center
    include ../../components/slider/content-parallax/content-parallax
    include ../../components/slider/default/default
    include ../../components/slider/gutter/gutter
    include ../../components/slider/item/item
    include ../../components/slider/navigation/navigation
    include ../../components/slider/sets/sets

    include ../../components/sticky/default/default

    include ../../components/tab/default/default
    include ../../components/tab/vertical/vertical