extends ../master/master

block content

    include ../components/header/header-default
    include ../components/header/header-default-top-bar
    include ../components/header/header-logo-center
    include ../components/header/header-parent
    include ../components/header/header-parent-full-top-bar
    include ../components/header/header-sticky
    include ../components/header/header-sticky-cover-image
    include ../components/header/header-sticky-cover-video

    include ../components/slideshow/slideshow-default
    include ../components/slideshow/slideshow-video
    include ../components/slideshow/slideshow-overlay
    include ../components/slideshow/slideshow-parallax
    include ../components/slideshow/slideshow-overlay-animation
    include ../components/slideshow/slideshow-advanced-effects

    include ../components/accordion/accordion-default

    include ../components/card/card-detail-list
    include ../components/card/card-media-top
    include ../components/card/card-media-top-circle

    include ../components/cover/cover-image
    include ../components/cover/cover-video

    include ../components/filter/filter-default

    include ../components/footer/footer-default

    include ../components/lightbox/lightbox-gallery-vertical

    include ../components/map/map-default
    include ../components/map/map-marker-multiple
    include ../components/map/map-marker-different

    include ../components/marker/marker-default

    include ../components/modal/modal-center
    include ../components/modal/modal-full-video

    include ../components/newsletter/newsletter-default

    include ../components/pagination/pagination-prev-next

    include ../components/playground/playground-candy-crush

    include ../components/section/section-content-center
    include ../components/section/section-content-column-text
    include ../components/section/section-content-contact-default
    include ../components/section/section-content-image-bottom
    include ../components/section/section-content-image-full
    include ../components/section/section-content-image-left
    include ../components/section/section-content-image-right
    include ../components/section/section-item-image
    include ../components/section/section-list-image

    include ../components/slider/slider-center-scale
    include ../components/slider/slider-center
    include ../components/slider/slider-content-parallax
    include ../components/slider/slider-default
    include ../components/slider/slider-gutter
    include ../components/slider/slider-item
    include ../components/slider/slider-navigation
    include ../components/slider/slider-sets

    include ../components/sticky/sticky

    include ../components/tab/tab-default
    include ../components/tab/tab-vertical