// Slideshow Video

section.slideshow-video

    div(class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="max-height: 700; animation: push; velocity: 1.4; ratio: 1:1.5; autoplay: true")

        ul.uk-slideshow-items
            li
                video(class="uk-width-1-1" autoplay loop muted playslinline uk-cover)
                    source(src="//www.quirksmode.org/html5/videos/big_buck_bunny.mp4" type="video/mp4")
                    source(src="//www.quirksmode.org/html5/videos/big_buck_bunny.ogv" type="video/ogg")
            li
                iframe(src="//www.youtube.com/embed/YE7VzlLtp-4?showinfo=0&amp;rel=0&amp;loop=1&amp;modestbranding=1&amp;wmode=transparent&amp;playsinline=1" class="uk-width-1-1 uk-height-1-1" width="560" height="315" frameborder="0" allowfullscreen)
        
        .uk-light
            a(class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous")
            a(class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next")

        .uk-position-bottom-center.uk-position-large
            ul.uk-slideshow-nav.uk-dotnav.uk-flex-center