/* ========================================================================
   Component: Footer
 ========================================================================== */

.main-footer {
    .image {
        background-size: cover;
        background-position: center;
        height: 480px;
    }
    .top {
        nav {
            min-height: 100px;
        }
    }
    .bottom {
        background-color: #f2f2f2;
    }
    a {
        color: #696969;
        small {
            margin-left: 18px;
        }
    }
    small {
        font-size: 12px;
        color: #696969;
        min-height: 72px;
    }
}

// Nav
// ========================================================================

.footer-nav {
    li {
        margin-left: 10px;
        &::before {
            content: '';
            border-radius: 50%;
            margin-right: 10px;
            width: 6px;
            height: 6px;
            display: inline-block; 
        }
        &:first-child {
            margin-left: 0;
            &::before {
                display: none;
            }
        }
    }
    a {
        color: inherit;
    }
}

// Social
// ========================================================================

.social-list {
    li {
        margin: 0 7px;
    }
}

// Responsive
// ========================================================================

@media screen and (max-width: 639px) {
    .main-footer {
        small {
            text-align: center;
            min-height: 1px;
        }
        .top {
            padding: 40px 0 26px;
            nav {
                margin-top: 26px;
                min-height: 1px;
                + ul {
                    order: -1;
                }
            }
            .uk-container {
                > div {
                    flex-direction: column;
                }
            }
        }
        .bottom {
            padding: 31px 0 32px;
            .uk-container {
                > div {
                    flex-direction: column;
                    a {
                        &:first-child {
                            text-align: center;
                            margin-bottom: 57px;
                            width: 100%;
                        }
                        &:last-child {
                            margin-top: 50px;
                        }
                    }
                }
            }
        }
    }
}

