// Description List Divider Modifier

dl.uk-description-list.uk-description-list-divider
    dt Description term
    dd Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    dt Description term
    dd Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    dt Description term
    dd Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.