/* ========================================================================
 Component: Header Default
========================================================================== */

.header-default {
    background-color: #fff; 
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}