// Alert Close Button

.uk-alert(uk-alert)
    a.uk-alert-close(uk-close)
    h3 Notice
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.