// Alert Style Modifiers

.uk-alert.uk-alert-primary(uk-alert)
    a.uk-alert-close(uk-close)
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.

.uk-alert.uk-alert-success(uk-alert)
    a.uk-alert-close(uk-close)
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.

.uk-alert.uk-alert-warning(uk-alert)
    a.uk-alert-close(uk-close)
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.

.uk-alert.uk-alert-danger(uk-alert)
    a.uk-alert-close(uk-close)
    p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.