// 404 Not Found

section.uk-section.uk-background-cover.not-found(uk-height-viewport="offset-top: true" data-src="@/images/404/404.jpg" uk-img)
	.uk-text-center
		h1.uk-heading-primary.uk-margin-remove 404
		h5.uk-margin-remove-top.uk-margin-medium-bottom Üzgünüz
		a.uk-button.uk-button-secondary(href="/") ANASAYFAYA DÖN
