// Slideshow Parallax

section.slideshow-parallax

    div(class="uk-position-relative uk-visible-toggle uk-dark" uk-slideshow="animation: push")
        
        ul.uk-slideshow-items

            - for (var x = 0; x < 3; x++)

                li
                    img(src="/images/slideshow/slideshow-1.jpg" alt="" uk-cover)
                    .uk-position-center.uk-position-small.uk-text-center.uk-light
                        h2(uk-slideshow-parallax="x: 100,-100") Heading
                        p(uk-slideshow-parallax="x: 200,-200") Lorem ipsum dolor sit amet, consectetur adipiscing elit.

        .uk-light
            a(class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous")
            a(class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next")

        .uk-position-bottom-center.uk-position-large
            ul.uk-slideshow-nav.uk-dotnav.uk-flex-center