// Grid Card

mixin grid-card(title, explanation)
    section.uk-section.grid-card(uk-scrollspy="target: [uk-scrollspy-class]; cls: uk-animation-slide-left-medium; delay: 300;")&attributes(attributes)
        .uk-container
            .uk-section.uk-section-small.uk-text-center.uk-background-center-center.uk-background-contain.uk-background-norepeat.section-content-text-bg(uk-scrollspy-class data-src="@/images/icons/logo-simple.svg" uk-img)
                h2.uk-h3.uk-margin-remove= title
                span.uk-text-primary(uk-icon="icon: icn-wave;")
                p.uk-margin-small= explanation
            .uk-section.uk-section-small
                .uk-grid.uk-grid-medium(uk-grid)
                    block
