// Form Default

form#form-default

    .uk-margin-bottom 
        input.uk-input.uk-border-rounded(type="text" placeholder="Ad Soyad" name="input")

    .uk-margin-bottom 
        input.uk-input.uk-border-rounded(type="email" placeholder="E-Posta Adresi" name="email")

    .uk-margin-bottom 
        input.uk-input.uk-border-rounded.mask-phone(type="text" placeholder="Şirket Adı" name="input")
    
    .uk-margin-bottom 
        textarea.uk-textarea.uk-border-rounded.resize-none(rows="9" placeholder="Proje Detayı" name="textarea")
    
    .uk-margin-bottom
        button.uk-button.uk-button-default.uk-button-danger.helvetica-bd GÖNDER