// Form And Grid

form.uk-grid.uk-grid-small(uk-grid)
    .uk-width-1-1
        input.uk-input(type="text" placeholder="100")
    div(class="uk-width-1-2@s")
        input.uk-input(type="text" placeholder="50")
    div(class="uk-width-1-4@s")
        input.uk-input(type="text" placeholder="25")
    div(class="uk-width-1-4@s")
        input.uk-input(type="text" placeholder="25")
    div(class="uk-width-1-2@s")
        input.uk-input(type="text" placeholder="50")
    div(class="uk-width-1-2@s")
        input.uk-input(type="text" placeholder="50")