// Form Layout

form.uk-form-stacked

	.uk-margin
		label.uk-form-label(for="form-stacked-text") Text
		.uk-form-controls
			input.uk-input(id="form-stacked-text" type="text" placeholder="Some text...")

	.uk-margin
		label.uk-form-label(for="form-stacked-select") Select
		.uk-form-controls
			select.uk-select(id="form-stacked-select")
				option Option 01
				option Option 02

	.uk-margin
		.uk-form-label Radio
		.uk-form-controls
			div
				label
					input.uk-radio(type="radio" name="radio1")
					| Option 01
			div
				label
					input.uk-radio(type="radio" name="radio1")
					| Option 02
