// Form

form
    fieldset.uk-fieldset

        legend.uk-legend Legend

        .uk-margin
            input.uk-input(type="text" placeholder="Input")

        .uk-margin
            select.uk-select
                option Option 01
                option Option 02

        .uk-margin
            textarea.uk-textarea(rows="5" placeholder="Textarea")

        .uk-margin.uk-grid-small.uk-child-width-auto.uk-grid
            label
                input.uk-radio(type="radio" name="radio2" checked) A
            label
                input.uk-radio(type="radio" name="radio2") B

        .uk-margin.uk-grid-small.uk-child-width-auto.uk-grid
            label
                input.uk-checkbox(type="checkbox" checked) A
            label
                input.uk-checkbox(type="checkbox") B

        .uk-margin
            input.uk-range(type="range" value="2" min="0" max="10" step="0.1")

        .uk-margin
            button.uk-button.uk-button-primary(type="submit") GÖNDER