/* ========================================================================
 Component: Footer Default
========================================================================== */

.footer-default {
	font-size: 14px;
	font-weight: 200;
	line-height: 2;
	color: #646975;
	background-color: #1e1f22;
}

// Top
// ========================================================================

.footer-default-top {
	padding: 42px 63px;
}

// Bottom
// ========================================================================

.footer-default-bottom {
	border-top: solid 1px #2b2c30;
	padding: 22px 0;
}

