// Animation Ken Burns

.uk-grid.uk-grid-small(class="uk-child-width-1-2@s " uk-grid)
    div
        .uk-overflow-hidden
            img(src="@/images/uikit.jpg" alt="Example image" uk-scrollspy="cls: uk-animation-kenburns; repeat: true")
    div
        .uk-overflow-hidden
            img(src="@/images/uikit.jpg" alt="Example image" class="uk-animation-reverse uk-transform-origin-top-right" uk-scrollspy="cls: uk-animation-kenburns; repeat: true")
