// Header Sticky

header.uk-position-relative.header-sticky

    div(uk-sticky="animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; top: 200")

        nav(class="uk-navbar-container uk-navbar-transparent uk-container uk-navbar" uk-navbar)

            .uk-navbar-left.uk-margin-auto-right
                a(class="uk-navbar-item uk-logo uk-padding-remove-left" href="/")
                    img(src="/images/icons/icn-tuna-ofis-logo-dark.svg" alt="")

            ul(class="uk-navbar-nav uk-visible@m")
                li
                    a(href="#") Nav 1
                li
                    a(href="#") Nav 2
                li
                    a(href="#") Nav 3
                li
                    a(href="#") Nav 4

            div(class="uk-navbar-item uk-padding-remove-right uk-visible@m")
                a(href="#" class="uk-button uk-button-primary uk-button-small")
                    span(uk-icon="icon: mail;" class="uk-margin-small-right")
                    | Item 1

            div(class="uk-navbar-item uk-hidden@m uk-light uk-padding-remove")
                a(href="#header-mobile-modal" class="uk-navbar-toggle uk-padding-remove" uk-toggle)
                    span(uk-icon="icon: icn-menu-dark;")
    include ../header-mobile/header-mobile