// Cover Video

section.uk-position-relative.uk-overflow-hidden.uk-height-large.cover-video

    video(autoplay loop muted playsinline uk-cover)
        source(src="https://www.quirksmode.org/html5/videos/big_buck_bunny.mp4" type="video/mp4")
        source(src="//www.quirksmode.org/html5/videos/big_buck_bunny.ogv" type="video/ogg")

    .uk-position-top-left.uk-width-1-1.uk-height-1-1

        .uk-flex.uk-flex-middle.uk-height-1-1

            .uk-container.uk-flex-1

                .uk-width-xlarge.uk-light.cover-text

                    h1 Title

                    p Explanation


            