// Navbar Content Item

nav.uk-navbar.uk-navbar-container.uk-margin(uk-navbar)
    .uk-navbar-left

        a.uk-navbar-item.uk-logo(href="#") Logo

        ul.uk-navbar-nav
            li
                a(href="#")
                    span.uk-icon.uk-margin-small-right(uk-icon="icon: star")
                    | Features

        .uk-navbar-item
            div Some 
                a(href="#") Link

        .uk-navbar-item
            form(action="javascript:void(0)")
                input.uk-input.uk-form-width-small(type="text" placeholder="Input")
                button.uk-button.uk-button-default Button

