// Navbar Dropdowns Multiple Columns

nav.uk-navbar.uk-navbar-container(uk-navbar)
    .uk-navbar-left

        ul.uk-navbar-nav
            li
                a(href="#") Two Columns
                .uk-navbar-dropdown.uk-navbar-dropdown-width-2
                    .uk-grid.uk-navbar-dropdown-grid.uk-child-width-1-2(uk-grid)
                        div
                            ul.uk-nav.uk-navbar-dropdown-nav
                                li.uk-active
                                    a(href="#") Active
                                li
                                    a(href="#") Item
                                li.uk-nav-header Header
                                li
                                    a(href="#") Item
                                li
                                    a(href="#") Item
                                li.uk-nav-divider
                                li
                                    a(href="#") Item
                        div
                            ul.uk-nav.uk-navbar-dropdown-nav
                                li.uk-active
                                    a(href="#") Active
                                li
                                    a(href="#") Item
                                li.uk-nav-header Header
                                li
                                    a(href="#") Item
                                li
                                    a(href="#") Item
                                li.uk-nav-divider
                                li
                                    a(href="#") Item