// Navbar Sticky Navbar

div(uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar")
    nav.uk-navbar-container(uk-navbar style="position: relative; z-index: 980;")
        .uk-navbar-left

            ul.uk-navbar-nav
                li.uk-active
                    a(href="#") Active
                li
                    a(href="#") Parent
                    .uk-navbar-dropdown
                        ul.uk-nav.uk-navbar-dropdown-nav
                            li.uk-active
                                a(href="#") Active
                            li
                                a(href="#") Item
                            li
                                a(href="#") Item
                li
                    a(href="#") Item