/* ========================================================================
 Component: Playground Candy Crush
========================================================================== */

.playground-candy-crush {
    p {
        color: #ffaabd;
    }
} 

#playground-candy-crush {
    background-image: linear-gradient(286deg, #f71e66, #ed0d36);
    height: 550px;
}