extends ../master/master

block content

    //include ../components/slideshow/slideshow-default    
    //include ../components/slideshow/slideshow-overlay 
    //include ../components/slideshow/slideshow-parallax
    //include ../components/slideshow/slideshow-advanced-effects
    //include ../components/slideshow/slideshow-overlay-animation  
    //include ../components/slider/slider-default 
    //include ../components/slider/slider-gutter
    //include ../components/slider/slider-center 
    //include ../components/slider/slider-sets
    //include ../components/slider/slider-navigation  
    //include ../components/slider/slider-item    
    //include ../components/accordion/accordion-default
    //include ../components/map/map-default
    //include ../components/map/map-marker-multiple
    //include ../components/map/map-marker-different 
    //include ../components/form/form-default    