/* ========================================================================
 Component: Slider Center Scale
========================================================================== */

.slider-center-scale {
    .uk-slider-container {
        padding: 50px 0;
    }
    .uk-slider-items {
        li {
            width: calc(100% / 3);
            div {
                transform: scale(0.9);
                transition: all 0.1s ease;
                img {
                    opacity: 0.3;
                    transition: all 0.1s ease;
                }
            }
            &.uk-active {
                div {
                    transform: scale(1.1);
                    transition: all 0.5s ease;
                    img {
                        opacity: 1;
                        transition: all 0.5s ease;
                    }
                }
            }
        }
    }
}