// Slider Center Scale

section.uk-section.uk-section-large.slider-center-scale

    .uk-text-center.uk-margin-medium-bottom
        h2.uk-margin-remove BUGÜNÜN OFİSLERİ
        p.uk-margin-remove Lorem ipsum dolor sit amet, consectetur adipiscing. Lorem ipsum dolor sit amet, consectetur adipiscing. Lorem 
            br 
            | ipsum dolor sit amet, consectetur adipiscing.

    div(class="uk-position-relative uk-visible-toggle" uk-slider="center: true; autoplay: true; autoplay-interval: 4000")
        
        ul(class="uk-slider-items uk-grid-medium")

            - for (var x = 0; x < 10; x++)

                li
                    div
                        img(src="https://dummyimage.com/1000x500/ff0000/ff0000.jpg" alt="")
                        p.uk-margin-small-top.uk-margin-remove-bottom Lorem ipsum dolor sit amet