include ../../parallax/templates/usage

include ../../section/templates/content-left-text

include ../../section/templates/content-text-bg

include ../../section/templates/image-left

include ../../slideshow/templates/usage

include ../../slider/templates/content-transitions

include ../../section/templates/reservation

include ../../grid/templates/card 

include ../../card/templates/media 

include ../../slider/templates/usage