// Map Multiple

section

	.uk-container

		#map-multiple(style="height: 500px;")

		script.

			var LocationData = [
				[
					49.2812668, -123.1035942,
					"<div class='content'><h4>Address 1</h4><p>Explanation 1</p></div>"
				],
				[
					49.2814064, -123.1025187,
					"<div class='content'><h4>Address 2</h4><p>Explanation 2</p></div>"
				],
				[
					49.2812336, -123.1020622,
					"<div class='content'><h4>Address 3</h4><p>Explanation 3</p></div>"
				],
				[
					49.2813564, -123.1012253,
					"<div class='content'><h4>Address 4</h4><p>Explanation 4</p></div>"
				],
				[
					49.2811625, -123.0985032,
					"<div class='content'><h4>Address 5</h4><p>Explanation 5</p></div>"
				]
			];

			function initMapMultiple() {
				var map = new google.maps.Map(document.getElementById('map-multiple'));
				var bounds = new google.maps.LatLngBounds();
				var infowindow = new google.maps.InfoWindow();
				var image = 'https://dummyimage.com/32x32/ff0000/ff0000.jpg';

				for (var i in LocationData) {

					var p = LocationData[i];
					var latlng = new google.maps.LatLng(p[0], p[1]);

					bounds.extend(latlng);

					var marker = new google.maps.Marker({
						position: latlng,
						map: map,
						title: p[2],
						icon: image
					});

					google.maps.event.addListener(marker, 'click', function () {
						infowindow.setContent(this.title);
						infowindow.open(map, this);
					});
				}

				map.fitBounds(bounds);
			}

			google.maps.event.addDomListener(window, 'load', initMapMultiple);
