// Cooment List

ul.uk-comment-list
	li
		article.uk-comment.uk-visible-toggle-
			header.uk-comment-header.uk-position-relative
				.uk-grid.uk-grid-medium.uk-flex-middle(uk-grid)
					.uk-width-auto
						img.uk-comment-avatar(src="../docs/images/avatar.jpg" width="80" height="80" alt="")
					.uk-width-expand
						h4.uk-comment-title.uk-margin-remove
							a.uk-link-reset(href="#") Author
						p.uk-comment-meta.uk-margin-remove-top
							a.uk-link-reset(href="#") 12 days ago
					.uk-position-top-right.uk-position-small.uk-hidden-hover
						a.uk-link-muted(href="#") Reply
			.uk-comment-body
				p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
		ul
			li
				article.uk-comment.uk-comment-primary.uk-visible-toggle
					header.uk-comment-header.uk-position-relative
						.uk-grid.uk-grid-medium.uk-flex-middle(uk-grid)
							.uk-width-auto
								img.uk-comment-avatar(src="../docs/images/avatar.jpg" width="80" height="80" alt="")
							.uk-width-expand
								h4.uk-comment-title.uk-margin-remove
									a.uk-link-reset(href="#") Author
								p.uk-comment-meta.uk-margin-remove-top
									a.uk-link-reset(href="#") 12 days ago
							.uk-position-top-right.uk-position-small.uk-hidden-hover
								a.uk-link-muted(href="#") Reply
					.uk-comment-body
						p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
			li
				article.uk-comment.uk-visible-toggle
					header.uk-comment-header.uk-position-relative
						.uk-grid.uk-grid-medium.uk-flex-middle(uk-grid)
							.uk-width-auto
								img.uk-comment-avatar(src="../docs/images/avatar.jpg" width="80" height="80" alt="")
							.uk-width-expand
								h4.uk-comment-title.uk-margin-remove
									a.uk-link-reset(href="#") Author
								p.uk-comment-meta.uk-margin-remove-top
									a.uk-link-reset(href="#") 12 days ago
							.uk-position-top-right.uk-position-small.uk-hidden-hover
								a.uk-link-muted(href="#") Reply
					.uk-comment-body
						p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
