// Cooment Primary Modifier

article.uk-comment.uk-comment-primary
	header.uk-grid.uk-comment-header.uk-grid-medium.uk-flex-middle(uk-grid)
		.uk-width-auto
			img.uk-comment-avatar(src="../docs/images/avatar.jpg" width="80" height="80" alt="")
		.uk-width-expand
			h4.uk-comment-title.uk-margin-remove
				a.uk-link-reset(href="#") Author
			ul.uk-comment-meta.uk-subnav.uk-subnav-divider.uk-margin-remove-top
				li
					a(href="#") 12 days ago
				li
					a(href="#") Reply
	.uk-comment-body
		p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
