// Navbar Centered Logo

nav.uk-navbar.uk-navbar-container.uk-margin(uk-navbar)
    .uk-navbar-center

        .uk-navbar-center-left
            div
                ul.uk-navbar-nav
                    li.uk-active
                        a(href="#") Active
                    li
                        a(href="#") Parent
                        .uk-navbar-dropdown
                            ul.uk-nav.uk-navbar-dropdown-nav
                                li.uk-active
                                    a(href="#") Active
                                li
                                    a(href="#") Item
                                li
                                    a(href="#") Item
        a.uk-navbar-item.uk-logo(href="#") Logo
        .uk-navbar-center-right
            div
                ul.uk-navbar-nav
                    li
                        a(href="#") Item