//
// Component: Grid
//
// ========================================================================


// Variables
// ========================================================================

@grid-gutter-horizontal:                        @global-gutter;
@grid-gutter-vertical:                          @grid-gutter-horizontal;
@grid-gutter-horizontal-l:                      @global-medium-gutter;
@grid-gutter-vertical-l:                        @grid-gutter-horizontal-l;

@grid-small-gutter-horizontal:                  @global-small-gutter;
@grid-small-gutter-vertical:                    @grid-small-gutter-horizontal;

@grid-medium-gutter-horizontal:                 @global-gutter;
@grid-medium-gutter-vertical:                   @grid-medium-gutter-horizontal;

@grid-large-gutter-horizontal:                  @global-medium-gutter;
@grid-large-gutter-vertical:                    @grid-large-gutter-horizontal;
@grid-large-gutter-horizontal-l:                @global-large-gutter;
@grid-large-gutter-vertical-l:                  @grid-large-gutter-horizontal-l;

@grid-divider-border-width:                     @global-border-width;
@grid-divider-border:                           @global-border;


// Miscellaneous
// ========================================================================

.hook-grid-misc() {}


// Inverse
// ========================================================================

@inverse-grid-divider-border:                  @inverse-global-border;


// Styles
// ========================================================================

.grid-card {
    h5 {
        letter-spacing: 0.8px;
    }
    ul {
        letter-spacing: 0.3px;
    }
    .uk-inline-clip {
        &:hover {
            .uk-position-bottom-center {
                h5, .uk-h5 {
                    opacity: 0;
                    transform: translateY(100%); 
                }
            }
        }
    }
    .uk-position-bottom-center {
        h5, .uk-h5 {
            margin-bottom: 30px;
            transition: all 0.3s ease-in;
        }
    }
    .uk-overlay {
        .uk-nav > li > a {
            .uk-icon {
                opacity: 0;
                transform: translateX(-30%);
                transition: all 0.15s ease-in;
            }
            &:hover {
                font-weight: 600;
                /*.uk-icon {
                    opacity: 1;
                    transform: translateX(0);
                }*/
            }
        }
    }
}

// Responsive
// ========================================================================

@media (max-width: 959px) {
    .grid-card-bg {
        padding-bottom: 100px;
    }
}