// Nav Accordion

div(class="uk-width-1-2@s uk-width-2-5@m")
    ul.uk-nav.uk-nav-default.uk-nav-parent-icon(uk-nav)
        li.uk-active
            a(href="#") Active
        li.uk-parent
            a(href="#") Parent
            ul.uk-nav-sub
                li
                    a(href="#") Sub item
                li
                    a(href="#") Sub item
                    ul
                        li
                            a(href="#") Sub item
                        li
                            a(href="#") Sub item
        li.uk-parent
            a(href="#") Parent
            ul.uk-nav-sub
                li
                    a(href="#") Sub item
                li
                    a(href="#") Sub item