/* ========================================================================
   Component: Header
 ========================================================================== */

.main-header {
    .uk-sticky {
        background-color: $color-1;
        &.uk-sticky-fixed {
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
        }
    }
}

// Logo
// ========================================================================

.uk-logo {
    img {
        width: 187px;
        transform: translate3d(0, 0, 0);
    }
}

// Navbar
// ========================================================================

.uk-navbar-item,
.uk-navbar-nav > li > a,
.uk-navbar-toggle {
    font-weight: 700;
    padding: 0 20px;
    height: 60px; 
}

// Phone
// ========================================================================

.header-phone {
    a {
        font-weight: 900;
    }
    span {
        font-size: 8px;
        font-weight: 500; 
        color: #8b8b8b; 
    }
}

// Responsive
// ========================================================================

@media screen and (min-width: 960px) and (max-width: 1199px) {
    
}