/* ========================================================================
 Component: Header Default
========================================================================== */

.header-default {
    background-color: #272b35; 
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    .uk-button {
        padding-right: 19px;
        img {
            margin-right: 7px;
        }
    } 
}