// main slider

section.uk-position-relative.main-slider

    .swiper-container.uk-height-1-1

        .swiper-wrapper

            - for(x = 0; x < 3; x++)

                .uk-background-cover.uk-background-center-center.uk-flex.swiper-slide(style="background-image: url(/images/main-slider/slider.jpg);") 

                    .uk-container.uk-flex-1

                        .text

                            h1.uk-margin-remove GÜCÜ VE KONFORUYLA TEK RAKİBİ KENDİSİ
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                            a(class="uk-button uk-button-default") İNCELE