// Slider Content Transitions

.uk-position-relative.uk-visible-toggle.uk-light(uk-slider="clsActivated: uk-transition-active; center: true")

	ul.uk-slider-items.uk-grid
		li.uk-width-3-4
			.uk-panel
				img(src="@/images/tests/photo.jpg" alt="")
				.uk-overlay.uk-overlay-primary.uk-position-bottom.uk-text-center.uk-transition-slide-bottom
					h3.uk-margin-remove Bottom
					p.uk-margin-remove Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		li.uk-width-3-4
			.uk-panel
				img(src="@/images/tests/photo.jpg" alt="")
				.uk-overlay.uk-overlay-primary.uk-position-bottom.uk-text-center.uk-transition-slide-bottom
					h3.uk-margin-remove Bottom
					p.uk-margin-remove Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		li.uk-width-3-4
			.uk-panel
				img(src="@/images/tests/photo.jpg" alt="")
				.uk-overlay.uk-overlay-primary.uk-position-bottom.uk-text-center.uk-transition-slide-bottom
					h3.uk-margin-remove Bottom
					p.uk-margin-remove Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		li.uk-width-3-4
			.uk-panel
				img(src="@/images/tests/photo.jpg" alt="")
				.uk-overlay.uk-overlay-primary.uk-position-bottom.uk-text-center.uk-transition-slide-bottom
					h3.uk-margin-remove Bottom
					p.uk-margin-remove Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		li.uk-width-3-4
			.uk-panel
				img(src="@/images/tests/photo.jpg" alt="")
				.uk-overlay.uk-overlay-primary.uk-position-bottom.uk-text-center.uk-transition-slide-bottom
					h3.uk-margin-remove Bottom
					p.uk-margin-remove Lorem ipsum dolor sit amet, consectetur adipiscing elit.

	a.uk-position-center-left.uk-position-small.uk-hidden-hover(href="#" uk-slidenav-previous uk-slider-item="previous")
	a.uk-position-center-right.uk-position-small.uk-hidden-hover(href="#" uk-slidenav-next uk-slider-item="next")
