// Slider Content Parallax

.uk-position-relative.uk-visible-toggle.uk-light(uk-slider)

	ul.uk-slider-items.uk-grid
		li.uk-width-4-5
			.uk-panel
				img(src="@/images/tests/photo.jpg" alt="")
				.uk-position-center.uk-text-center
					h2(uk-slider-parallax="x: 100,-100") Heading
					p(uk-slider-parallax="x: 200,-200") Lorem ipsum dolor sit amet.
		li.uk-width-4-5
			.uk-panel
				img(src="@/images/tests/photo.jpg" alt="")
				.uk-position-center.uk-text-center
					h2(uk-slider-parallax="x: 100,-100") Heading
					p(uk-slider-parallax="x: 200,-200") Lorem ipsum dolor sit amet.
		li.uk-width-4-5
			.uk-panel
				img(src="@/images/tests/photo.jpg" alt="")
				.uk-position-center.uk-text-center
					h2(uk-slider-parallax="x: 100,-100") Heading
					p(uk-slider-parallax="x: 200,-200") Lorem ipsum dolor sit amet.
		li.uk-width-4-5
			.uk-panel
				img(src="@/images/tests/photo2.jpg" alt="")
				.uk-position-center.uk-text-center
					h2(uk-slider-parallax="x: 100,-100") Heading
					p(uk-slider-parallax="x: 200,-200") Lorem ipsum dolor sit amet.
		li.uk-width-4-5
			.uk-panel
				img(src="@/images/tests/photo3.jpg" alt="")
				.uk-position-center.uk-text-center
					h2(uk-slider-parallax="x: 100,-100") Heading
					p(uk-slider-parallax="x: 200,-200") Lorem ipsum dolor sit amet.

	a.uk-position-center-left.uk-position-small.uk-hidden-hover(href="#" uk-slidenav-previous uk-slider-item="previous")
	a.uk-position-center-right.uk-position-small.uk-hidden-hover(href="#" uk-slidenav-next uk-slider-item="next")
