// Slider Content

div(uk-slider="center: true")

    .uk-position-relative.uk-visible-toggle.uk-light

        ul.uk-slider-items.uk-grid(class="uk-child-width-1-2@s")
            li
                .uk-card.uk-card-default
                    .uk-card-media-top
                        img(src="@/images/uikit.jpg" alt="")
                    .uk-card-body
                        h3.uk-card-title Headline
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
            li
                .uk-card.uk-card-default
                    .uk-card-media-top
                        img(src="@/images/uikit.jpg" alt="")
                    .uk-card-body
                        h3.uk-card-title Headline
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
            li
                .uk-card.uk-card-default
                    .uk-card-media-top
                        img(src="@/images/uikit.jpg" alt="")
                    .uk-card-body
                        h3.uk-card-title Headline
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
            li
                .uk-card.uk-card-default
                    .uk-card-media-top
                        img(src="../docs/images/photo2.jpg" alt="")
                    .uk-card-body
                        h3.uk-card-title Headline
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
            li
                .uk-card.uk-card-default
                    .uk-card-media-top
                        img(src="../docs/images/photo3.jpg" alt="")
                    .uk-card-body
                        h3.uk-card-title Headline
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.

        a.uk-position-center-left.uk-position-small.uk-hidden-hover(href="#" uk-slidenav-previous uk-slider-item="previous")
        a.uk-position-center-right.uk-position-small.uk-hidden-hover(href="#" uk-slidenav-next uk-slider-item="next")

    ul.uk-slider-nav.uk-dotnav.uk-flex-center.uk-margin
