//
// Component: Column
//
// ========================================================================


// Variables
// ========================================================================

//@formatter:off
@column-gutter:                                 @global-gutter;
@column-gutter-l:                               @global-medium-gutter;

@column-divider-rule-color:                     @global-border;
@column-divider-rule-width:                     1px;
//@formatter:on


// Miscellaneous
// ========================================================================

.hook-column-misc() {
}

// Inverse
// ========================================================================

//@formatter:off
@inverse-column-divider-rule-color:                    @inverse-global-border;
//@formatter:on
