/* ========================================================================
 Component: Filter Default
========================================================================== */

.filter-default-control {
    border-bottom: solid 1px #dfdfdf;
    .uk-button {
        padding: 0 20px;
    }    
}

.filter-default-result {
    small {
        font-size: 14px;
    }
}

.filter-shown {
    span {
        width: 8px;
        height: 8px;
        background-color: #d8d8d8;
        & + span {
            margin-left: 4px;
        }
    }
    &.filter-active {
        span {
            background-color: #252525;
        }
    }
    & + .filter-shown {
        margin-left: 25px;
    }
}

.filter-tag {
    span {
        font-size: 14px;
        font-weight: bold;
        line-height: 42px;
        background-color: #cbcbcb;
        border-radius: 21px;
        padding: 0 44px 0 12px;
        & + span {
            margin-left: 25px;
        }
    }
    a { 
        margin-right: 21px;
    }
}