.uk-position-relative(video-container)
    video(src="/videos/video.mp4")
    div.uk-position-center
        button.uk-button(video-play-button uk-toggle="target: [video-pause-button], [video-play-button]; animation: uk-animation-scale-up") Oynat
    div.uk-position-bottom-left
        button.uk-button(video-pause-button uk-toggle="target: [video-pause-button], [video-play-button]; animation: uk-animation-scale-up" hidden) Durdur