/* ========================================================================
 Component: Tab Default
========================================================================== */

.tab-default {
    .tab-default-scroll {
        box-shadow: 0 1px 0 0 #e1e1e1;
    }
    .uk-tab {
        &::before {
            display: none;
        }
    }
}
