// Switcher And Nav

.uk-grid(uk-grid)
    div(class="uk-width-small@m")

        ul.uk-nav.uk-nav-default(uk-switcher="connect: #component-nav; animation: uk-animation-fade; toggle: > :not(.uk-nav-header)")
            li
                a(href="#") Active
            li
                a(href="#") Item
            li
                a(href="#") Item

    div(class="uk-width-expand@m")

        ul#component-nav.uk-switcher
            li Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            li Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            li Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur, sed do eiusmod.