// Header Mobile Modal

#header-mobile-modal.uk-modal.uk-modal-full(uk-modal)
	.uk-modal-dialog.uk-modal-body.uk-text-center.uk-flex(uk-height-viewport)
		button.uk-modal-close-full(uk-close)
		.uk-margin-auto-vertical.uk-width-1-1
			.uk-grid.uk-grid-stack.uk-child-width-1-1(uk-grid)
				.uk-first-column
					.uk-panel
						ul.uk-nav.uk-nav-primary.uk-nav-center
							li.uk-active: a(href="#") Nav 1
							li: a(href="#") Nav 2
							li: a(href="#") Nav 3
							li: a(href="#") Nav 4
