doctype html

html(lang="tr")

    head

        // meta

        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        meta(name='format-detection' content='telephone=no')
        meta(name='description' content='Clockwork')
        meta(name='keywords' content='Clockwork')
        meta(name='author' content='Clockwork | Dijital Pazarlama Ajansı - clock@clockwork.com.tr')

        // favicon

        link(rel="apple-touch-icon" sizes="180x180", href="/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png")
        link(rel="manifest" href="/favicon/manifest.json")
        meta(name="theme-color" content="#ffffff")

        // title

        title Clockwork | Dijital Pazarlama Ajansı

        // css

        link(rel='stylesheet', href='/css/plugins.css')
        link(rel='stylesheet', href='/css/theme.css')

    body

        //include ../../components/header/default/default

        main

            block content

        //include ../../components/footer/default/default

        // js

        script(src='/js/plugins.js')
        script(src='/js/theme.js')