// Dropdown Boundary

.boundary.uk-panel.uk-placeholder(class="uk-width-2-3@s")

	button.uk-button.uk-button-default.uk-float-left(type="button") Hover
	.uk-dropdown(uk-dropdown="boundary: .boundary")
		ul.uk-nav.uk-dropdown-nav
			li.uk-active
				a(href="#") Active
			li
				a(href="#") Item
			li.uk-nav-header Header
			li
				a(href="#") Item
			li
				a(href="#") Item
			li.uk-nav-divider
			li
				a(href="#") Item

	button.uk-button.uk-button-default.uk-float-right(type="button") Hover
	.uk-dropdown(uk-dropdown="boundary: .boundary")
		ul.uk-nav.uk-dropdown-nav
			li.uk-active
				a(href="#") Active
			li
				a(href="#") Item
			li.uk-nav-header Header
			li
				a(href="#") Item
			li
				a(href="#") Item
			li.uk-nav-divider
			li
				a(href="#") Item
