// Dropdown Grid In Dropdown

button.uk-button.uk-button-default(type="button") Hover
.uk-dropdown.uk-width-large(uk-dropdown)
	.uk-grid.uk-dropdown-grid(class="uk-child-width-1-2@m" uk-grid)
		div
			ul.uk-nav.uk-dropdown-nav
				li.uk-active
					a(href="#") Active
				li
					a(href="#") Item
				li.uk-nav-header Header
				li
					a(href="#") Item
				li
					a(href="#") Item
				li.uk-nav-divider
				li
					a(href="#") Item
		div
			ul.uk-nav.uk-dropdown-nav
				li.uk-active
					a(href="#") Active
				li
					a(href="#") Item
				li.uk-nav-header Header
				li
					a(href="#") Item
				li
					a(href="#") Item
				li.uk-nav-divider
				li
					a(href="#") Item
