// Dropdown Nav In Dropdown

button.uk-button.uk-button-default(type="button") Hover
.uk-dropdown(uk-dropdown)
    ul.uk-nav.uk-dropdown-nav
        li.uk-active
            a(href="#") Active
        li
            a(href="#") Item
        li.uk-nav-header Header
        li
            a(href="#") Item
        li
            a(href="#") Item
        li.uk-nav-divider
        li
            a(href="#") Item