// Dropdown

.uk-inline
	button.uk-button.uk-button-default(type="button") Hover
	.uk-dropdownuk-dropdown Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.

.uk-inline
	button.uk-button.uk-button-default(type="button") Click
	.uk-dropdown(uk-dropdown="mode: click") Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
