// Slideshow Overlay

section.slideshow-overlay

    div(class="uk-position-relative uk-visible-toggle uk-dark" uk-slideshow="max-height: 700; animation: push; velocity: 1.4; ratio: 1:1.5; autoplay: true")
        
        ul.uk-slideshow-items

            li
                img(src="/images/slideshow/slideshow-1.jpg" alt="" uk-cover)
                .uk-position-center.uk-position-small.uk-text-center.uk-light
                    h2.uk-margin-remove Center
                    p.uk-margin-remove Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li
                img(src="/images/slideshow/slideshow-1.jpg" alt="" uk-cover)
                .uk-position-bottom.uk-position-small.uk-text-center.uk-light
                    h2.uk-margin-remove Bottom
                    p.uk-margin-remove Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li
                img(src="/images/slideshow/slideshow-1.jpg" alt="" uk-cover)
                .uk-overlay.uk-overlay-primary.uk-position-bottom.uk-position-small.uk-text-center.uk-light
                    h2.uk-margin-remove Overlay Bottom
                    p.uk-margin-remove Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            li
                img(src="/images/slideshow/slideshow-1.jpg" alt="" uk-cover)
                .uk-overlay.uk-overlay-default.uk-position-bottom-right.uk-position-small.uk-text-center
                    h2.uk-margin-remove Overlay Bottom Right
                    p.uk-margin-remove Lorem ipsum dolor sit amet, consectetur adipiscing elit.

        .uk-light
            a(class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous")
            a(class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next")

        .uk-position-bottom-center.uk-position-large
            ul.uk-slideshow-nav.uk-dotnav.uk-flex-center