// Cover Video

.uk-cover-container.uk-height-medium
    video.uk-cover(autoplay loop muted playsinline uk-cover)
        source(src="https://quirksmode.org/html5/videos/big_buck_bunny.mp4" type="video/mp4")
        source(src="https://quirksmode.org/html5/videos/big_buck_bunny.ogv" type="video/ogg")