/* ========================================================================
 Component: Heading Multiple Center
========================================================================== */

.section-heading {
    margin-bottom: 56px;
    h6 {
        letter-spacing: 2px;
        color: #9b9b9b;
        margin-bottom: 15px;
    }
    span {
        font-size: 36px;
        letter-spacing: 1px;
        line-height: 1.4;
    }
}