// foter

footer.main-footer

    .image(style="background-image: url(/images/footer/footer-bg.png);")

    .top

        .uk-container

            .uk-flex.uk-flex-between.uk-flex-middle

                a(href="#" class="uk-visible@m"): img(src="/images/icons/landini-logo.svg" alt="landini")

                nav.uk-flex.footer-nav 

                    ul.uk-flex.uk-flex-middle.uk-margin-remove.uk-padding-remove.list-style-none

                        li: a(href="http://anadolumotor.com" target="_blank") Anadolu Motor 
                        li: a(href="contact.html") İletişim
                        li: a(href="https://e-sirket.mkk.com.tr/esir/Dashboard.jsp#/sirketbilgileri/13386" target="_blank") Bilgi Toplumu Hizmetleri

                ul.uk-flex.uk-margin-remove.uk-padding-remove.list-style-none.social-list

                    li: a(href="https://www.facebook.com/landinitraktor" uk-icon="icon: facebook")
                    li: a(href="https://www.instagram.com/landiniturkiye" uk-icon="icon: instagram")
    
    .bottom

        .uk-container

            div(class="uk-flex uk-flex-between uk-flex-middle")

                a(href="http://www.anadolugrubu.com.tr") 

                    img(src="images/icons/anadolu-grubu-logo.png" alt="anadolu grubu")

                    small Copyright © 2018 Anadolu Landini

                small.uk-flex.uk-flex-middle Anadolu Landini, Anadolu Motor ve Argo Tractors S.p.A.’nın ortak kurulu

                a(href="http://clockwork.com.tr"): img(src="images/icons/clockwork.svg" alt="Clockwork | Dijital Pazarlama Ajansı")