// Footer Default

footer.footer-default

    .footer-default-top

        .uk-container

            div(class="uk-grid-small uk-grid-match" uk-grid)

                div(class="uk-width-medium@m")
                    .uk-flex.uk-flex-column
                        span.color-light İletişim
                        a.uk-link-reset(href="mailto:clock@clockwork.com.tr") clock@clockwork.com.tr
                        a.uk-link-reset(href="tel:+902122751084") 0212 275 10 84 - 85 
                div(class="uk-width-expand@m")
                    .uk-flex.uk-flex-column
                        span.color-light Adres 
                        adress 19 Mayıs Mahallesi 19 Mayıs Caddesi
                            br
                            | UBM Plaza No:37 K:4 34360 Fulya Şişli / İSTANBUL
                div(class="uk-width-auto@m")
                    .uk-flex.uk-flex-right
                        ul.uk-flex.uk-padding-remove.list-style-none.social-list
                            li: a(href="https://www.facebook.com/clockworkagency" target="blank" class="uk-icon-button uk-margin-small-right" uk-icon="facebook")
                            li: a(href="https://twitter.com/clockworkagency" target="blank" class="uk-icon-button uk-margin-small-right" uk-icon="twitter")
                            li: a(href="https://vimeo.com/clockworkagency" target="blank" class="uk-icon-button uk-margin-small-right" uk-icon="vimeo")
                            li: a(href="https://www.linkedin.com/company/clockwork-agencys" target="blank" class="uk-icon-button uk-margin-small-right" uk-icon="linkedin")
                            li: a(href="https://www.instagram.com/clockworkagency/" target="blank" class="uk-icon-button uk-margin-small-right" uk-icon="instagram")
    
    .footer-default-bottom

        .uk-container

            div(class="uk-flex uk-flex-between uk-flex-middle")

                small © Clockwork 2018

                img(src="/images/icons/iab-googlepartner-logo.png" alt="iab-googlepartner-logo")
