// Table

table.uk-table
    caption Table Caption
    thead
        tr
            th Table Heading
            th Table Heading
            th Table Heading
    tfoot
        tr
            td Table Footer
            td Table Footer
            td Table Footer
    tbody
        tr
            td Table Data
            td Table Data
            td Table Data
        tr
            td Table Data
            td Table Data
            td Table Data