// Header Parent Full Top Bar

header.header-default.header-parent-full.uk-background-default(uk-sticky cls-active="uk-navbar-sticky" sel-target=".uk-navbar-container" class="uk-background-default")

    .header-top-bar

        .uk-container

            .uk-flex.uk-flex-middle

                small.uk-margin-auto-right Lorem ipsum dolor sit amet

                nav(class="uk-visible@m")

                    ul.uk-flex.uk-flex-middle.uk-margin-remove.uk-padding-remove.list-style-none

                        li: a(href="#" class="uk-link-reset") Nav 1
                        li: a(href="#" class="uk-link-reset") Nav 2
                        li: a(href="#" class="uk-link-reset") Nav 3
                        li: a(href="#" class="uk-link-reset") Nav 4

                a(href="#" class="uk-link-reset") TR

    div

        .uk-container

            nav(class="uk-navbar-container uk-navbar-transparent uk-navbar uk-flex-between" uk-navbar="dropbar: true") 

                .uk-navbar-left

                    a(class="uk-navbar-item uk-logo uk-padding-remove-left uk-visible@m" href="/")

                        img(src="/images/icons/icn-tuna-ofis-logo-dark.svg" alt="")

                .uk-flex.uk-flex-1.nav-overlay

                    a(class="uk-navbar-item uk-logo uk-padding-remove-left uk-hidden@m" href="/")

                        img(src="/images/icons/icn-tuna-ofis-logo-dark.svg" alt="tuna ofis")

                    ul(class="uk-navbar-nav nav-overlay uk-margin-auto uk-visible@m")
                        li.uk-parent
                            a(href="urunler.html") Nav 1
                                span(uk-icon="triangle-down")
                            .uk-navbar-dropdown.uk-margin-remove-top.uk-padding-remove-right.uk-padding-remove-left(uk-drop="boundary: !nav; boundary-align: true; pos: bottom-justify; delay-hide: 200; offset: 1")
                                div(class="uk-child-width-1-2 uk-grid" uk-grid)
                                    div
                                        span Title
                                        ul.uk-nav.uk-navbar-dropdown-nav.uk-column-1-2
                                            li: a(href="#" class="background-line-hover") Sub Nav 1 
                                            li: a(href="#" class="background-line-hover") Sub Nav 2
                                            li: a(href="#" class="background-line-hover") Sub Nav 3
                                            li: a(href="#" class="background-line-hover") Sub Nav 4
                                            li: a(href="#" class="background-line-hover") Sub Nav 5
                                    div
                                        div(class="uk-grid uk-grid-medium uk-child-width-1-2" uk-grid)
                                            div
                                                a(href="#" class="uk-flex uk-position-relative")
                                                    img(src="/images/header/parent-1.jpg" alt="")
                                                    span.uk-position-bottom-center.uk-light YÖNETİCİ KOLTUKLARI
                                            div
                                                a(href="#" class="uk-flex uk-position-relative")
                                                    img(src="/images/header/parent-2.jpg" alt="")
                                                    span.uk-position-bottom-center.uk-light KANEPELER
                        li: a(href="#") Nav 2
                        li: a(href="#") Nav 3
                        li: a(href="#") Nav 4

                .nav-overlay.uk-navbar-right

                    div(class="uk-navbar-item uk-padding-remove-right")

                        a(href="#" class="uk-navbar-toggle uk-padding-remove" uk-toggle="target: .nav-overlay; animation: uk-animation-fade")

                            span(uk-icon="icn-search" class="icn-search") 

                        div(class="uk-navbar-item uk-hidden@m uk-padding-remove mobile-button")

                            a(href="#header-mobile-modal" class="uk-navbar-toggle uk-padding-remove" uk-toggle)
                                span(uk-icon="icon: icn-menu-dark;")

                div(class="nav-overlay uk-navbar-left uk-width-3-4@m" hidden) 

                    div(class="uk-navbar-item uk-width-expand")

                        form(class="uk-search uk-search-navbar uk-width-1-1")

                            input(class="uk-search-input" type="search" placeholder="Arama Yap…" autofocus)

                    a(class="uk-navbar-toggle uk-link-reset uk-padding-remove" uk-toggle="target: .nav-overlay; animation: uk-animation-fade" href="#")

                        span(uk-icon="icon: close; ratio: 1.2")

    include ../../header-mobile/modal/modal 