// Header Mobile Modal

div(id="header-mobile-modal" class="uk-modal-full header-mobile-modal" uk-modal)
    div(class="uk-modal-dialog" uk-height-viewport)
        a(class="uk-modal-close-full uk-close-large"): img(src="/images/icons/close.svg" alt="")
        ul.uk-nav
            li: a(href="index.html") Ana Sayfa
            li: a(href="hakkimizda.html") Hakkımızda
            li: a(href="hizmetlerimiz.html") Hizmetlerimiz
            //li: a(href="islerimiz.html") İşlerimiz
            li: a(href="markalarimiz.html") Markalarımız

        ul.uk-list
            li: a(href="mailto:clock@clockwork.com.tr") clock@clockwork.com.tr
            li: a(href="tel:+902122751084") 0212 275 10 84
            li: a(href="https://www.google.com.tr/maps/place/Clockwork/@41.058092,28.9917083,17z/data=!3m1!4b1!4m5!3m4!1s0x14cab64d7455ac6b:0x1ff3df9462656d1f!8m2!3d41.058092!4d28.993897" target="_blank") Haritada Göster

        a(href="iletisim.html" class="uk-button uk-button-default uk-position-bottom-left uk-width-1-1 uk-flex uk-flex-center uk-flex-middle")
            img(src="/images/icons/phone-emoji.png" alt="" class="uk-margin-small-right")
            | İletişim