// Slideshow Advanced Effects

.uk-position-relative.uk-visible-toggle.uk-light(uk-slideshow="animation: push")

    ul.uk-slideshow-items
        li
            .uk-position-cover(uk-slideshow-parallax="scale: 1.2,1.2,1")
                img(src="../images/uikit.jpg" alt="" uk-cover)
            .uk-position-cover(uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000")
            .uk-position-center.uk-position-medium.uk-text-center
                div(uk-slideshow-parallax="scale: 1,1,0.8")
                    h2(uk-slideshow-parallax="x: 200,0,0") Heading
                    p(uk-slideshow-parallax="x: 400,0,0;") Lorem ipsum dolor sit amet.
        li
            .uk-position-cover(uk-slideshow-parallax="scale: 1.2,1.2,1")
                img(src="../images/uikit.jpg" alt="" uk-cover)
            .uk-position-cover(uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000")
            .uk-position-center.uk-position-medium.uk-text-center
                div(uk-slideshow-parallax="scale: 1,1,0.8")
                    h2(uk-slideshow-parallax="x: 200,0,0") Heading
                    p(uk-slideshow-parallax="x: 400,0,0;") Lorem ipsum dolor sit amet.
        li
            .uk-position-cover(uk-slideshow-parallax="scale: 1.2,1.2,1")
                img(src="../images/uikit.jpg" alt="" uk-cover)
            .uk-position-cover(8uk-slideshow-parallax="opacity: 0,0,0.2; backgroundColor: #000,#000")
            .uk-position-center.uk-position-medium.uk-text-center
                div(uk-slideshow-parallax="scale: 1,1,0.8")
                    h2(uk-slideshow-parallax="x: 200,0,0") Heading
                    p(uk-slideshow-parallax="x: 400,0,0;") Lorem ipsum dolor sit amet.

    a.uk-position-center-left.uk-position-small.uk-hidden-hover(href="#" uk-slidenav-previous uk-slider-item="previous")
    a.uk-position-center-right.uk-position-small.uk-hidden-hover(href="#" uk-slidenav-next uk-slider-item="next")