// Section Content Image Full

section.uk-section.uk-padding-remove.section-content-image-full(uk-scrollspy="cls: uk-animation-slide-top-small; target: > img; delay: 150;")

    img(src="https://dummyimage.com/1920x600/ff0000/fcfcfc.jpg&text=Demo+Image" alt="")