// Pagination Prev Next

section.uk-section.uk-section-small.pagination-prev-next

    .uk-container

        ul.uk-pagination.uk-flex-center.uk-flex-middle
            li
                a(href="#" class="uk-flex uk-flex-middle")
                    span(uk-icon="icon: chevron-left" class="uk-margin-small-right")
                    | GERİ
            li
                a(href="#") 1
            li.uk-active
                a(href="#") 2
            li
                a(href="#") 3
            li
                a(href="#" class="uk-flex uk-flex-middle") İLERİ
                    span(uk-icon="icon: chevron-right" class="uk-margin-small-left") 
                