// Cover Image

section.uk-position-relative.uk-overflow-hidden.uk-height-large.cover-image

    img(src="/images/section/section.jpg" alt="" uk-cover)

    .uk-position-top-left.uk-width-1-1.uk-height-1-1

        .uk-flex.uk-flex-middle.uk-height-1-1

            .uk-container.uk-flex-1

                .uk-width-xlarge.uk-dark.cover-text

                    h1 Title

                    p Explanation


            