// Card Media

.uk-grid(class="uk-child-width-1-2@m" uk-grid)
    div
        .uk-card.uk-card-default
            .uk-card-media-top
                img(src="../images/uikit.jpg" alt="")
            .uk-card-body
                h3.uk-card-title Media Top
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
    div
        .uk-card.uk-card-default
            .uk-card-body
                h3.uk-card-title Media Bottom</h3>
                pLorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
            .uk-card-media-bottom
                img(src="../images/uikit.jpg" alt="")