/* ========================================================================
   Component: Banner
 ========================================================================== */

.main-slider {
	height: 600px;
	.swiper-slide {
		padding-top: 94px;
		box-sizing: border-box;  
	}
	h1 {
		max-width: 570px;
	}
	p {
		margin: 9px 0 29px;
		max-width: 385px;
	}
}

@media screen and (max-width: 1199px) {
	
}

@media screen and (max-width: 639px) {
	
}