// Card Media Top Circle

section.uk-section.uk-section-large.card-media-top

    .uk-container(uk-scrollspy="cls: uk-animation-slide-top-small; target: > .section-heading; delay: 300;")

        include ../../heading/multiple-center/multiple-center

        div(class="uk-grid-medium uk-child-width-1-4@m uk-grid-match uk-grid" uk-grid uk-scrollspy="cls: uk-animation-slide-top-small; target: > div > .uk-card; delay: 50;")

            - for (var i = 0; i < 8; i++)

                div
                    .uk-card.uk-card-small.uk-card-hover.uk-text-center.uk-border-rounded
                        .uk-card-media-top.uk-flex.uk-flex-center
                            i.uk-flex.uk-flex-center.uk-flex-middle.uk-border-circle.uk-overflow-hidden: img(src="https://dummyimage.com/600x400/ff0000/fcfcfc.jpg&text=Demo+Image" alt="alt text")
                        .uk-card-body
                            h5 Title
                            p.uk-margin-remove Explanation


