// Cover Image

section.uk-position-relative.uk-overflow-hidden.uk-height-large.cover-image

    img(src="https://dummyimage.com/1920x600/ff0000/fcfcfc.jpg&text=Demo+Image" alt="" uk-cover)

    .uk-position-top-left.uk-width-1-1.uk-height-1-1

        .uk-flex.uk-flex-middle.uk-height-1-1

            .uk-container.uk-flex-1

                .uk-width-xlarge.uk-light.cover-text

                    h1 Title

                    p Explanation


            