// Nav Header Divider

div(class="uk-width-1-2@s uk-width-2-5@m")
    ul.uk-nav.uk-nav-default
        li.uk-nav-header Header
        li
            a(href="#") Item
        li
            a(href="#") Item
        li.uk-nav-divider
        li
            a(href="#") Item