/* ========================================================================
 Component: Section Content Image Bottom
========================================================================== */

.section-content-image-bottom {
    p {
        line-height: 1.9;
    }
    img {
        margin-top: 100px;
    }
} 