/* ========================================================================
 Component: Modal Full Video
========================================================================== */

.modall-full-video {
    video {
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
}

// Responsive
// ========================================================================

@media screen and (max-width: 639px) {

}