// Lightbox Gallery Vertical

div(uk-lightbox="animation: slide" class="lightbox-gallery-vertical") 

    a(href="https://dummyimage.com/1500x600/ff0000/fcfcfc.jpg&text=Demo+Image" class="uk-display-block" alt="" caption="1/3")
        img(src="https://dummyimage.com/600x400/ff0000/fcfcfc.jpg&text=Demo+Image" )
    a(href="https://dummyimage.com/1500x600/ff0000/fcfcfc.jpg&text=Demo+Image" class="uk-display-block" alt="" caption="2/3")
        img(src="https://dummyimage.com/600x400/ff0000/fcfcfc.jpg&text=Demo+Image")
    a(href="https://dummyimage.com/1500x600/ff0000/fcfcfc.jpg&text=Demo+Image" class="uk-display-block" alt="" caption="3/3")
        img(src="https://dummyimage.com/600x400/ff0000/fcfcfc.jpg&text=Demo+Image")