/* ========================================================================
 Component: Section Content Contact Default
========================================================================== */

.section-content-contact-default {
    span {
        margin-bottom: 17px;
    }

    a,
    address {
        line-height: 2;
    }
    .uk-icon-button {
        background-color: #f9f9f9;
        width: 46px;
        height: 46px;
    }
}