/* ========================================================================
 Component: Section Content Text Column
========================================================================== */

.section-content-text-column {
    h2 {
        line-height: 1;
        margin-bottom: 10px;
    }
    span {
        font-size: 24px;
    }
    .text {
        margin-bottom: 70px;
    }
    p {
        line-height: 1.88;
    }
    a {
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        img {
            margin-left: 6px;
        }
    }
}

.section-content-text-column-border {
    border-bottom: solid 1px #dadada;
}

// Responsive
// ========================================================================

@media screen and (max-width: 1199px) {
	
}

@media screen and (max-width: 639px) {
	.section-content-text-column {
        span {
            font-size: 18px;
        }
        .text {
            margin-bottom: 30px;
        }

        a {
            
        }
    }

}