// Button Size Modifiers

p.uk-margin(uk-margin)
    button.uk-button.uk-button-default.uk-button-small Small button
    button.uk-button.uk-button-primary.uk-button-small Small button
    button.uk-button.uk-button-secondary.uk-button-small Small button

p.uk-margin(uk-margin)
    button.uk-button.uk-button-default.uk-button-large Large button
    button.uk-button.uk-button-primary.uk-button-large Large button
    button.uk-button.uk-button-secondary.uk-button-large Large button