// Button Style Modifiers

p.uk-margin(uk-margin)
    button.uk-button.uk-button-default Default
    button.uk-button.uk-button-primary Primary
    button.uk-button.uk-button-secondary Secondary
    button.uk-button.uk-button-danger Danger
    button.uk-button.uk-button-text Text
    button.uk-button.uk-button-link Link