//
// Component: Container
//
// ========================================================================


// Variables
// ========================================================================

@container-max-width:                   1170px;
@container-small-max-width:             800px;
@container-large-max-width:             1400px;

@container-padding-horizontal:          20px;
@container-padding-horizontal-s:        20px;
@container-padding-horizontal-m:        20px;


// Miscellaneous
// ========================================================================

.hook-container-misc() {}