// Marker

.uk-grid(class="uk-child-width-1-2" uk-grid)
	div
		.uk-inline.uk-dark
			img(src="@/images/tests/photo.jpg" alt="")
			a.uk-marker.uk-icon.uk-position-absolute.uk-transform-center(style="left: 20%; top: 30%" href="#" uk-marker)
			a.uk-marker.uk-icon.uk-position-absolute.uk-transform-center(style="left: 60%; top: 40%" href="#" uk-marker)
			a.uk-marker.uk-icon.uk-position-absolute.uk-transform-center(style="left: 80%; top: 70%" href="#" uk-marker)
	div
		.uk-inline.uk-light
			img(src="@/images/tests/photo.jpg" alt="")
			a.uk-marker.uk-icon.uk-position-absolute.uk-transform-center(style="left: 20%; top: 30%" href="#" uk-marker)
			a.uk-marker.uk-icon.uk-position-absolute.uk-transform-center(style="left: 60%; top: 40%" href="#" uk-marker)
			a.uk-marker.uk-icon.uk-position-absolute.uk-transform-center(style="left: 80%; top: 70%" href="#" uk-marker)
