// Card Badge

.uk-card.uk-card-default.uk-card-body(class="uk-width-1-2@m")
	.uk-card-badge.uk-label Badge
	h3.uk-card-title Title
	p Lorem ipsum color sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
