// Card Header Footer

.uk-card.uk-card-default(class="uk-width-1-2@m")
	.uk-card-header
		.uk-grid.uk-grid-small.uk-flex-middle(uk-grid)
			.uk-width-auto
				img.uk-border-circle(width="40" height="40" src="@/images/tests/avatar.jpg")
			.uk-width-expand
				h3.uk-card-title.uk-margin-remove-bottom Title
				p.uk-text-meta.uk-margin-remove-top
					time(datetime="2016-04-01T19:00") April 01, 2016
	.uk-card-body
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
	.uk-card-footer
		a.uk-button.uk-button-text(href="#") Read more
