// Card Hover Modifier

.uk-grid.uk-grid-match(class="uk-child-width-1-2@m" uk-grid)
    div
        .uk-card.uk-card-hover.uk-card-body
            h3.uk-card-title Hover
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    div
        .uk-card.uk-card-default.uk-card-hover.uk-card-body
            h3.uk-card-title Default
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    div
        .uk-card.uk-card-primary.uk-card-hover.uk-card-body.uk-light
            h3.uk-card-title Primary
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    div
        .uk-card.uk-card-secondary.uk-card-hover.uk-card-body.uk-light
            h3.uk-card-title Secondary
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit.