// Card Size Modifiers

.uk-grid(class="uk-child-width-1-2@m" uk-grid)
	div
		.uk-card.uk-card-default.uk-card-small.uk-card-body
			h3.uk-card-title Small
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	div
		.uk-card.uk-card-default.uk-card-large.uk-card-body
			h3.uk-card-title Large
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
