// Card Style Modifiers

.uk-grid.uk-grid-small.uk-grid-match(class="uk-child-width-1-3@m" uk-grid)
	div
		.uk-card.uk-card-default.uk-card-body
			h3.uk-card-title Default
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	div
		.uk-card.uk-card-primary.uk-card-body
			h3.uk-card-title Primary
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
	div
		.uk-card.uk-card-secondary.uk-card-body
			h3.uk-card-title Secondary
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
