// Button Group

div
    .uk-button-group
        button.uk-button.uk-button-secondary Button
        button.uk-button.uk-button-secondary Button
        button.uk-button.uk-button-secondary Button

.uk-margin-small
    .uk-button-group
        button.uk-button.uk-button-primary Button
        button.uk-button.uk-button-primary Button
        button.uk-button.uk-button-primary Button

.uk-margin-small
    .uk-button-group
        button.uk-button.uk-button-danger Button
        button.uk-button.uk-button-danger Button
        button.uk-button.uk-button-danger Button