// Pagination Previous And Next

ul.uk-pagination
    li
        a(href="#")
            span.uk-margin-small-right(uk-pagination-previous)
            | Previous
    li.uk-margin-auto-left
        a(href="#") Next
            span.uk-margin-small-left(uk-pagination-next)